[2016-01-06 06:27] rmhrisk opened #2 "Return usages as-per WebCrypto"

[2016-01-06 06:27] rmhrisk opened #3 "Add tests for import/export keys"

[2016-01-06 06:35] rmhrisk opened #4 "support jwk"
Safari doesnt support spki or pkcs8, this means in other parts of our projects we will need to use JWK. Also we use document store databases and storing of elements in JSON is useful vs creating them prior to store. As such I think we should support JWK.

Here is an example converting a jwk to pem - https://github.com/vibornoff/webcrypto-shim/blob/master/webcrypto-shim.js#L160

[2016-01-10 07:29] l-ko opened #5 "Exported jwk usages"
Currently JWK export supports key_opt parameter which I guess should be key_ops from:
https://tools.ietf.org/html/rfc7517#section-4.3
I can use it to import provided JWK in deriveKey to be consistent with the cryptoKey usages.

[2016-01-10 07:32] l-ko opened #6 "Problems with derivedKeyType"
[keyDerivator] derived cryptoKey AesKey {
  usages: [ 'encrypt', 'decrypt', 'wrapKey', 'unwrapKey' ],
  _key: <Buffer 00 ad b6 6c 2e c8 bd 3f 9a 71 0d d6 8b b8 68 5e 1a 1d 31 9e b0 d6 33 c7 f0 90 cf 0b 35 f0 47 b0 79 fe b2 3c 83 f6 c1 61 82 91 5d 80 e9 ca 65 eb 1d f2 ... >,
  extractable: true,
  algorithm: { name: 'AES-CBC', length: 128 },
  type: undefined,
  length: 128 }

It shows [Error: Unkn

[2016-01-10 14:49] #5 closed, assigned to microshine

[2016-01-10 14:55] #6 closed, assigned to microshine

[2016-01-13 18:22] l-ko opened #7 "Segmentation fault"
Trying to run on Ubuntu 15.04. Installation successfull, mocha tests fails:

begin Init
end   Init

  Init
    ✓ Init

  Aes
    ✓ Aes CBC
    ✓ Aes CBC JWK export/import
    ✓ Aes GCM
    ✓ Aes GCM JWK export/import

  EC
begin New
begin Key
end   Key
begin WKey
end   WKey
end   New
begin generateEc
begin dispose
end   dispose
end   generateEc
begin Sign
info : Unwrap Wkey
begin internal
end   in

[2016-01-13 21:08] l-ko opened #8 "ECDSA verify signature"
Shows false on the client using subtle.crypto.verify.

private key is imported from JWK to make signature on the server. Then on the client public key is imported from JWK with subtle, then verify shows false for some reason.

[2016-01-13 21:20] l-ko opened #9 "ECDH derive unknown algorithm error"
req.derivedKeyType:  { name: 'AES-CTR', length: 256 }

deriveKey throws:
[Error: derivedKeyType: Unknown Algorithm name in use]

[2016-01-13 23:54] #9 closed, assigned to nobody

[2016-01-14 06:31] #4 closed, assigned to nobody

[2016-01-14 06:31] #2 closed, assigned to nobody

[2016-01-14 06:32] #3 closed, assigned to nobody

[2016-01-14 17:30] l-ko opened #10 "derivedKeyType AES-GCM 128"
Still getting error on deriveKey:

[code]

[2016-01-14 19:06] #10 closed, assigned to microshine

[2016-01-14 20:00] rmhrisk opened #11 "RSASSA-PSS support"
RSAES-PKCS1-v1_5 has some security weaknesses. PSS addresses these, we need RSAES-PKCS1-v1_5 for interop but we should probably use PSS for all stuff we use internally.

As such we should add support for PSS.

[2016-01-14 22:35] rmhrisk opened #12 "look at key handling"
https://github.com/nodejs/node/issues/4660

https://github.com/feross/safe-buffer

[2016-01-14 22:36] rmhrisk opened #13 "include webcrpto test vectors from chrome and/or firefox in tests"

[2016-01-16 05:52] rmhrisk opened #14 "Add support for ed25519 and x25519"
WebCrypto does not yet specify the use of these but work is already in progress - https://www.w3.org/2012/webcrypto/WebCryptoCurve25519/Curve25519-WebCrypto.html

It looks names may end up as:
ECDH-CURVE25519
SCHNOR-ED25519

ed25519 is specified here - http://ed25519.cr.yp.to/ed25519-20110926.pdf

The WebCrypto spec with the most details on this at this time is here : https://www.w3.org/Bugs/Publi

[2016-01-16 19:35] rmhrisk opened #15 "Add RSA PSS signature support"
PSS is more secure signature scheme we should add support for it.

https://chromium.googlesource.com/chromium/src/+/df493e2c9a0e4d153dcd9f712ae72b876857b270/content/child/webcrypto/openssl/rsa_pss_openssl.cc

[2016-01-22 07:37] l-ko opened #16 "ECDSA P-521 public key JWK"
I'm getting "DOMException: The JWK's "x" member defines an octet string of length 65 bytes but should be 66" on JWK import

[2016-01-22 20:23] #8 closed, assigned to nobody

[2016-02-01 21:37] microshine opened #17 "Memory leak"
`develop` branch

Log from `Valgrind`

[code]

[2016-02-04 22:49] microshine opened #19 "Flint++ report"
[code]

Tested with [commit](https://github.com/PeculiarVentures/node-webcrypto-ossl/commit/b0357ec0fad44f5e09801a5df912b0e16c48f08c)

[2016-02-04 22:51] #17 closed, assigned to nobody

[2016-02-04 22:55] #7 closed, assigned to nobody

[2016-02-04 22:55] #16 closed, assigned to microshine

[2016-02-05 04:11] rmhrisk opened #20 "Include NIST test vectors"
@briansmith has done the work to incorporate NIST test vectors into Ring : https://github.com/briansmith/ring/tree/master/third-party/NIST/SHAVS we should incorporate these.

[2016-02-05 04:13] rmhrisk opened #21 "Include Firefox test vectors"
https://dxr.mozilla.org/mozilla-central/source/dom/crypto/test

[2016-02-05 04:14] rmhrisk opened #22 "Include Chrome test vectors"
https://chromium.googlesource.com/chromium/src/+/master/components/test/data/webcrypto

[2016-02-05 04:16] #13 closed, assigned to nobody

[2016-02-05 04:17] #11 closed, assigned to nobody

[2016-02-05 04:19] rmhrisk opened #23 "Use const instead of #define where possible"
In C++ const enforces type checking in expressions while the #define constants are just expanded. It would be better to switch most if not all of our #define to const.

[2016-02-05 04:21] rmhrisk opened #24 "Refactor to use shared EVP_ logic"
EVP call patterns will be the same accross RSA and ECC, the code can be re-factored to share this logic which will reduce surface area for the code to have defects and make the code easier to review.

[2016-02-05 04:27] rmhrisk opened #25 "Ensure code consistently handles errors"
It seems in some cases we are relying on C++ throw semantecs (THROW_OPENSSL ) and in others not.

If so, code would be easier to review and understand if we refactored to be consistent.

[2016-02-05 04:29] rmhrisk opened #26 "Include Netflix test vectors"
There may be test vectors in the Netflix suite that would be useful, we should review and see if we see any of value:

https://netflix.github.io/NfWebCrypto/web/test_promise.html https://github.com/Netflix/msl/blob/master/tests/src/test/javascript/msltests.html

[2016-02-05 05:50] rmhrisk commented on #24
It seems Chromium does one function for RSA and one for ECC. It seems at least in the case of RSA it allows them to use PSS:

https://chromium.googlesource.com/chromium/src/+/master/components/webcrypto/algorithms/rsa_sign.cc#134

We should look more broadly at the other cases and decide what we want to do.

[2016-02-05 06:02] rmhrisk commented on #24
It also seems Chromium does a bunch of extra parameter checking for ECC - https://chromium.googlesource.com/chromium/src/+/master/components/webcrypto/algorithms/ecdsa.cc#214

This leads me to think we might be over optimizing if we try to fit all into a shared EVP_ function.

[2016-02-05 06:03] rmhrisk commented on #24
Closing as wont fix

[2016-02-05 06:04] rmhrisk opened #27 "Implement SHA1 and SHA2"

[2016-02-05 06:04] #24 closed

[2016-02-05 06:40] rmhrisk opened #28 "Improve test structure to use data file or arrays for test vectors"
Chome does this, as does https://github.com/openpgpjs/asmcrypto-lite/blob/lite/test we should consider similar structure.

[2016-02-11 23:35] l-ko opened #29 "Unwrapped AES key seems to have wrong algorithm"
I'm trying to use js-jose JWE decryption, and it fails to decrypt with unwrapped CEK, because of the wrong algorithm name:
AesKey {
  usages: [ 'encrypt', 'decrypt', 'wrapKey', 'unwrapKey' ],
  native_: AesKey {},
  extractable: true,
  algorithm:
   { name: 'RSA-OAEP',
     modulusLength: 1024,
     publicExponent: Uint8Array { '0': 1, '1': 0, '2': 1 },
     hash: { name: 'SHA-1' } },
  type: 'se

[2016-02-13 09:53] #29 closed

[2016-02-17 19:21] rmhrisk opened #30 "ArrayBuffer and Buffer?"
Right now we support both ArrayBuffer and Buffer. WebCrypto was defined with ArrayBuffer. If developers use Buffer then the code they write will not be interopable. On the other hand node developers commonly use node:buffer and making them switch to array buffer would make library less useful potentially. We need to consider if we want to keep support for both.

[2016-03-04 11:58] l-ko opened #31 "Generated keys constructor name"
generateKey(
            {
                name: 'RSASSA-PKCS1-v1_5',
                modulusLength: 2048, //can be 1024, 2048, or 4096
                publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
                hash: {name: 'SHA-256'}, //can be "SHA-1", "SHA-256", "SHA-384", or "SHA-512"
            },
            true, //whether the key is extractable (i.e. can be used in exportKey)

[2016-03-04 20:00] microshine commented on #31
Fixed in [RsaKey, AesKey, EcKey -> CryptoKey](https://github.com/PeculiarVentures/node-webcrypto-ossl/commit/344e1f201be7e92a2dcc4824c17728981786b996)

[2016-03-04 20:00] #31 closed

[2016-03-28 11:19] l-ko opened #32 "ECDSA P-521 signature verification"
ECDSA P-521 signed data verified time to time - sometimes it is true, some times false

[2016-04-07 15:14] rmhrisk opened #34 "Add list of algorithms and functions supported to readme"
It would be useful to have an examples frontpage on
node-webcrypto-ossl's REAMDE.md github frontpage, much like
https://github.com/diafygi/webcrypto-examples has. That way developers
can quickly see what functions are implemented, and how they should
use them.

[2016-04-09 10:49] l-ko opened #35 "A128CBC-HS256"
This is related to Safari in some way.

We're using https://github.com/vibornoff/webcrypto-shim WebCrypto polifyll to work in Safari, and it supports AES-CBC, and does not support AES-GCM. Jose lib used for tokens encryption in turn supports A256GCM or A128CBC-HS256 for tokens encryption, which involves wrapping content encryption key.

Since webcrypto-shim does not support AES-GCM, there is only

[2016-04-09 10:58] #35 closed

[2016-04-09 19:53] rmhrisk commented on #35
What was the resolution here?

[2016-04-09 22:37] l-ko commented on #35
I realized that it is too general stated, may be we should make another more specific issue?

[2016-04-09 22:39] rmhrisk commented on #35
I see. Yes,makes sense.

[2016-04-11 23:03] rmhrisk commented on #34
This is another way to represent this information https://www.chromium.org/blink/webcrypto

[2016-04-30 12:33] l-ko opened #36 "importing RSA SPKI returns null"
Importing public key from this CSR gives null result
[code]

[2016-04-30 13:17] l-ko opened #37 "Importing SPKI key returns no key usages"
[code]
returns CryptoKey with empty usages array

[2016-05-02 12:31] l-ko opened #38 "ECDSA verification fails"
[code]

[2016-05-03 20:29] l-ko commented on #38
due to differencies in DER encoded signature and WebCrypto signature

[2016-05-03 20:29] #38 closed

[2016-05-03 20:30] microshine commented on #38
ECDSA-Sig-Value should be as specified in RFC 3279

[2016-05-04 06:44] YuryStrozhevsky commented on #38
I will show you one "mirracle". Put the CSR in a text file, name it a "ossl_problem.csr" and run this OpenSSL command:
[code]
The very first string would be **verify OK**.

In fact here there are no issues in PKIjs or in node-webcrypto-ossl. Probably there is an issue in Leonid's head - he is using wrong verification function for PKCS#10 verification. Leonid, please refer to [this example](https:/

[2016-05-04 07:32] microshine opened #39 "Support NAN v2.3.3"
There are some errors during compilation with the newest version of NAN

[2016-05-04 14:58] l-ko commented on #38
I've missed this example

[2016-05-04 15:10] l-ko opened #40 "ECDSA P-521 verification fails"
Verification fails for secp521r1 CSR:
[code]

[2016-05-04 16:02] l-ko opened #41 "pkcs10.verify() RSA CSR error"
[code]
Same code for ECDSA works fine

[2016-05-05 06:59] YuryStrozhevsky commented on #40
Leonid, just run this command and check that this is a really failure PKCS#10 request (signature for the PKCS#10 is incorrect):
[code]

[2016-05-05 08:53] l-ko commented on #40
I see

[2016-05-05 08:53] #40 closed

[2016-05-05 12:23] YuryStrozhevsky commented on #40
In fact I have found that the PKCS#10 request has a correct signature value, but PKIjs done wrong key formating. So, this issue is related to [this issue](https://github.com/GlobalSign/PKI.js/issues/64) and would be resolved asap.

[2016-05-05 20:31] #37 closed

[2016-05-05 20:31] #36 closed

[2016-05-05 20:32] #41 closed

[2016-05-05 20:58] #32 closed

[2016-05-05 22:14] microshine opened #42 "Support RSA-PSS algorithm"
xadesjs has implementation of RSA-PSS algorithm, but node-webcrypto-ossl doesn't have it

[2016-05-05 22:14] l-ko opened #43 "Exported JWK P-521 import in browser error"
Exported JWK ECDSA P-521 gives error while trying to import it with window.crypto.subtle.importKey in browser:

[code]

Other curves P-256 P-384 imported fine

[2016-05-05 22:15] microshine opened #44 "Support HMAC algorithm"
xadesjs has implementation of HMAC algorithm, but node-webcrypto-ossl doesn't have it

[2016-05-06 09:03] YuryStrozhevsky commented on #40
Fixed in last PKIjs commit.

[2016-05-09 14:30] microshine opened #45 "npm install error"
Error during compilation of native ossl module.
Reason: npm w_key.cpp is different from repo source.

NPM
[code]

GitHub
[code]

[2016-05-10 02:35] mitar commented on #30
Please both. :-)

[2016-05-10 02:38] mitar opened #46 "Unclear how to use it as a dependency"
Simply listing:

[code]

Seems to compile the binary, but `ts` files are not converted to JavaScript, or whatever is needed for

[code]

then to work from the main code.

[2016-05-10 13:25] microshine opened #47 "node 6.0.0 compile error"
[code]

[2016-05-11 09:12] mitar opened #49 "deriveBits does not seem to be supported"
The following code fails:

[code]

I would especially need `deriveBits` for ECDH and above curve.

[2016-05-11 10:59] microshine commented on #49
DeriveBits function is not implemented yet.

[2016-05-11 18:40] microshine opened #50 "Support npm install"
Make it possible to use `npm install https://github.com/PeculiarVentures/node-webcrypto-ossl.git`

[2016-05-13 06:21] microshine opened #51 "Test and deploy with https://travis-ci.org/"

[2016-05-13 15:44] l-ko commented on #30
https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/lib/subtle.ts#L30

I don't thing it is a good idea. In particular it checks for ArrayBuffer or Uint8Array, and any other data goes to Node buffer.

If you pass Uint16Array then it crashes with:
Assertion failed: (obj->IsUint8Array()), function Data, file ../src/node_buffer.cc, line 188

[2016-05-13 23:03] l-ko commented on #30
I think it should also expect data to be the view of ArrayBuffer (ArrayBuffer.isView()) like different typed arrays Uint16Array/Float32Array etc and DataView

[2016-05-15 19:53] microshine commented on #49
deriveBits for ECDH was added. Current code is not added to NPM yet. Could you test `deriveBits` function with your code befor?

[2016-05-15 20:14] mitar commented on #49
Great! I will look into it now.

[2016-05-15 20:29] mitar commented on #49
I am getting:

[code]

[2016-05-15 20:31] microshine commented on #49
You should make
[code]

[2016-05-15 21:28] mitar commented on #49
It does not work. The error I get:

[code]

[2016-05-15 21:41] mitar commented on #49
I am working on reproduction.

[2016-05-15 21:51] mitar commented on #49
Done: https://github.com/mitar/ecdh-test

[code]

I get:

[code]

[2016-05-15 21:52] mitar commented on #49
(Interesting that `]` is in new line.)

[2016-05-16 02:54] mitar commented on #49
Also observe that the example works in at least Chrome, if you remove the use of the `Buffer` call at the end.

[2016-05-16 17:40] microshine commented on #49
![2016-05-16 20 39 39](https://cloud.githubusercontent.com/assets/7333669/15298116/d3e4fb58-1bae-11e6-9acb-32565db4d369.png)

Is it right?

[2016-05-16 17:54] mitar commented on #49
Sorry, I am not sure what you are trying to convey here. :-) So result of `Promise.all` is an array, and it should contain two keys. I just extract them into two variables.

So are you saying that:
* reproduction code has a bug
* that you are confirming that this library has a bug
* or that Chrome is too lenient and that it should not work in Chrome, but it does?

[2016-05-16 18:02] microshine commented on #49
It seems I found an error. I chaked `baseKey` from `deriveBits` function. It's not a private key, but it has attr type `private`. It seems export/import EC function has error. I'm checking it.

[2016-05-16 20:03] microshine commented on #49
I found an error. I made test with your example, it's ok. Could you test by yourself and close current issue?

[2016-05-17 13:53] mitar commented on #49
Hm, now I get:

[code]

[2016-05-17 13:54] mitar commented on #49
(There is also a typo in `corves`.)

[2016-05-17 15:22] mitar commented on #49
Not sure why this does not come up in the reproduction. Maybe because in my case one key comes from browser, and the other key comes from this package.

[2016-05-17 15:59] mitar commented on #49
I updated the [reproduction repository](https://github.com/mitar/ecdh-test). It fails with:

[code]

Key embedded in the code was generated on Chrome using the same parameters. It seems shorter than what this module generates. Are you sure this module respects parameters for key generation correctly? Because example of the public key for same parameters generated by this module is:

[code]

And fr

[2016-05-17 18:50] microshine commented on #49
Thank you. You found new error. Imported private key doesn't have named curve.
I have to fix it.

[2016-05-17 21:49] microshine commented on #49
I fixed last error (again). I hope it's last error for current issue. I tested code from your repo, it's OK

[2016-05-18 01:57] mitar commented on #49
OK, after fixing #52 as well, now it works!

[2016-05-18 01:57] #49 closed

[2016-05-18 07:01] rmhrisk opened #53 "Add support for RSA-PSS for XAdES"

[2016-05-18 07:02] rmhrisk opened #54 "Add support for HMAC for XAdES"

[2016-05-18 07:08] rmhrisk commented on #46
@mitar is this resolved for y ou?

[2016-05-18 07:14] rmhrisk opened #55 "Support RC2 and 3DES-CBC for PKCS12"
[code]
- https://unmitigatedrisk.com/?p=543

For us to support PKCS#12 in a way an interoperable with Windows we will need to support these weak algorithms. They are not specified in WebCrypto (because they are weak) but we can still choose to support them.

[2016-05-18 12:42] mitar commented on #46
No. I currently have to use my own fork to be able to do it. But I think #50 better represents what has to be done to be able to use it as a dependency.

[2016-05-18 12:42] #46 closed

[2016-05-19 20:18] mitar commented on #49
It works very well! Thank you! It also improved our crypto speeds a lot!

[2016-05-19 20:51] rmhrisk opened #56 "Improve documentation"
@mitar we would love to get improved documentation in JSDOC so we can generate docs with https://github.com/clenemt/docdash

Or more simply a table of what is supported along with some basic benchmarks.

We will get around to it but maybe you have some time also?

[2016-05-19 21:16] mitar commented on #56
Cool, you could then use Travis CI to generate documentation automatically. I have this set in this repository as an example:
* https://github.com/peerlibrary/meteor-blaze-common-component/blob/master/.travis.yml
* https://github.com/peerlibrary/meteor-blaze-common-component/blob/master/.documentation.sh

I do not know if I will have time to help much though. :-(

[2016-05-25 02:39] rmhrisk opened #57 "Randomize key ids"
https://twitter.com/firefoxcommit/status/735105699299069952

[2016-06-13 07:56] Seikho opened #58 "TypeScript be a local (dev) depencency instead of a global dependency"
`node-gyp` and `mocha` are already consumed correctly in `package.json`, but they rely on an global install (as mentioned in the README).

TypeScript should installed as a dev-depencency and consumed with a `build` script in `package.json`. The compiler changes from version to version and each development environment may have varying versions of the compiler.

[code]

Consume with: `npm run build`

[2016-06-13 08:08] rmhrisk commented on #58
Pull request welcome

[2016-06-30 05:42] rmhrisk opened #60 "Add support for gating access to key on stored using user supplied password."
We want to provide the option to provide a secret at sign time to authorize use, we should, in theory, be able to do this by:
1. Creating the users asymmetric key in memory session
2. Generate a symmetric key from a pin
3. Encrypt asymetric key using symmetric key
4. Put encrypted key in data object on token.

This is a bit lame but will meet their requirements.

[2016-07-27 08:44] l-ko opened #61 "Ability to remove item from key storage"

[2016-07-27 18:31] #61 closed

[2016-08-15 00:18] rmhrisk opened #63 "remove node-webcrypto-ossl/.vscode/"

[2016-08-15 00:19] rmhrisk opened #64 "Add typings to project"
P11 has typings in typings folder - https://github.com/PeculiarVentures/node-webcrypto-p11/tree/master/typings

Do same here

[2016-08-17 22:17] #63 closed

[2016-08-18 17:31] microshine commented on #64
Supported module `typings`.
Command to isntall type deps
[code]

Command to build TS project
[code]

Should be closed

[2016-08-18 17:31] #64 closed

[2016-08-18 17:33] #51 closed

[2016-08-18 17:33] #47 closed

[2016-08-18 17:34] #45 closed

[2016-08-18 17:35] #39 closed

[2016-08-18 17:38] microshine commented on #30
v1.0.6 support NodeCryptoBuffer = Buffer | ArrayBufferView

[2016-08-18 17:38] #30 closed

[2016-08-22 09:50] l-ko opened #65 "CryptoKey constructor name"
rsa_key.constructor.name:  OsslCryptoKey
Nonstandard constructor name causes problems with the CryptoKeys identification in other libaries, which normally work with 'CryptoKey' constructor name.

[2016-08-22 20:11] #65 closed

[2016-08-27 04:42] rmhrisk opened #66 "Port W3C webcrypto tests to mocha"
https://github.com/w3c/web-platform-tests/tree/master/WebCryptoAPI

[2016-08-27 04:43] rmhrisk commented on #58
We have made npm be pure js so this is not needed

[2016-08-27 05:16] rmhrisk opened #67 "JSDOC: Add documentation generation to package.info"
We can add generation of JSDOC derived documentation via docdash: https://github.com/clenemt/docdash

"script": {
  "generate-docs": "node_modules/.bin/jsdoc -c jsdoc.json"
}
This way we can have standalone documentation showing how to use the library.

[2016-08-27 05:17] #58 closed

[2016-08-27 05:18] rmhrisk opened #68 "Add coveralls"
https://coveralls.io

[2016-08-27 05:19] rmhrisk commented on #20
Closing this, we can use the W3C vectors which include these.

[2016-08-27 05:19] #20 closed

[2016-08-27 05:20] rmhrisk commented on #21
Closing this we can use the W3C test vectors

[2016-08-27 05:20] #21 closed

[2016-08-27 05:20] rmhrisk commented on #22
Closing this we can use the W3C test vectors

[2016-08-27 05:20] #22 closed

[2016-08-27 05:20] rmhrisk commented on #26
Closing this we can use the W3C test vectors

[2016-08-27 05:20] #26 closed

[2016-08-29 06:59] rmhrisk opened #69 "Need to update readme to make it clear how to use on Windows"
It seems it may not be directly obvious on how to get the module working on Windows, I am not sure what the issues are but it seems @microshine is working on getting them documented.

This bug is to track that activity.

[2016-08-31 06:35] hildjj commented on #68
I'll take a crack at this.  Proposal:

- use [nyc](https://github.com/istanbuljs/nyc#readme) to generate coverage on travis
- use [coveralls](https://github.com/nickmerwin/node-coveralls#readme) to send the info to coveralls

If you don't mind, I can go a little further for you, and add support for automatically running coverage and refreshing a local [live-server](https://github.com/tapio/live-se

[2016-08-31 07:11] rmhrisk commented on #68
@hildjj this sounds good to me, we appreciate the help. Sometimes I feel like were boiling the ocean ;)

@microshine this sounds good to me, what do you think? We could take the work that @hildjj does here and use it with node-webcrypto-p11 and the browser-webcrypto-liner project. Any concerns?

[2016-08-31 07:12] rmhrisk opened #70 "Migrate to node-webcrypto-common layer"
We're doing a refactor so all webcrypto libraries share the same input validation. This is a bug to track that work.

[2016-08-31 07:16] microshine commented on #68
I like the idea to make project more usable and understandable

[2016-08-31 07:16] rmhrisk commented on #68
@hildjj let us know what you need from us. Thanks for the help.

[2016-08-31 07:32] hildjj commented on #68
I think all I need from you is for you to create an account at https://coveralls.io/ if you don't have one already, and enable this project.  Travis and coveralls are now automatically integrated.  Tests running for the PR now.

[2016-08-31 07:46] rmhrisk commented on #68
Done - https://coveralls.io/github/PeculiarVentures

[2016-09-01 17:52] hildjj commented on #67
Presumably, you want to use [typedoc](https://github.com/TypeStrong/typedoc) or [tsdoc](https://github.com/xperiments/TSDoc), not jsdoc?  I don't know if the docdash theme will work with the output of either of those.

[2016-09-01 20:44] rmhrisk commented on #67
I was a bit over zealous with copy and paste, the goal is to have generated documents.

If the Docdash theme will not work we have some guys we can make one that is visually similar that will work with typedoc/tsdoc.

Do you have experience with either?

[2016-09-01 20:45] #68 closed

[2016-09-01 20:45] #50 closed

[2016-09-01 20:47] rmhrisk commented on #68
@hildjj Thank you VERY much, I am not sure how long it would have taken us to get to doing this. This will do a lot to help others (and us). Would you be interested/able to apply the same approaches to https://github.com/PeculiarVentures/node-webcrypto-p11/?

[2016-09-01 20:56] hildjj commented on #67
No.  They both look... early.

[2016-09-01 21:01] rmhrisk commented on #67
Agreed, was hoping you might be able to provide assurance it was OK :)

[2016-09-01 21:06] hildjj commented on #68
I'll take a look at it.

[2016-09-01 21:23] hildjj commented on #69
I was able to get it working on my local Windows box by following Option 2 from here:

https://github.com/nodejs/node-gyp#installation

I also needed `npm i npm@2 -g` to get past some node-gyp bug.  On [Appveyor](https://ci.appveyor.com/project/hildjj/node-webcrypto-ossl/build/1.0.33), however, I can't seem to get past this error:

[code]

I don't yet know if that's the only unsatisfied link, or i

[2016-09-01 21:58] rmhrisk commented on #69
My best guess is Appveyor is picking up an older version of OpenSSL.

It seems like its [installing 1.02](https://ci.appveyor.com/project/hildjj/node-webcrypto-ossl/build/1.0.33#L6), which isn't the latest but I would expect that function to be there even in that older version.

I guess the firs thing I would try would be updating that older version to:
[code]

@microshine and I will take a look a

[2016-09-02 02:46] hildjj commented on #69
I'm already downloading that, but you're right, I bet my version is getting overlooked.  Will pursue tomorrow, thanks for the pointer.

[2016-09-02 22:34] hildjj commented on #69
It turns out that Appveyor does have recent 1.0.2 already loaded.  When I just compile against that rather than fighting it, everything worked.  Here's the approach I'm suggesting:

- Add `appveyor.yml`, which does a matrix build of win32 and win64 on every checkin.  If the commit message includes `[publish binary]`, upload the binaries to a github release with the release number from `package.jso

[2016-09-02 23:28] rmhrisk commented on #69
This makes sense to me but I want to hear what @microshine thinks also.

As for your questions, the first I will leave to @microshine. For the second I think I would rather have builds break than check in OSSL binaries. Thoughts?

[2016-09-06 08:48] Root-Core commented on #69
I would love to use the module on windows machines, as our project is limited to Windows x86.
(Some binary node module links to an 32bit DLL and gets ported atm..)

The node-webcrypto module compiles under Linux, but no luck with windows, so I really like the idea of providing it precompiled.

[2016-09-06 15:11] rmhrisk commented on #69
@Root-Core it definitely works on Windows, we re-wrote it specifically to remove a dependency that was causing issues with working on Windows and have tested it there extensively.

Getting it to build there however currently requires following the node-gyp build steps.

I like the @hildjj proposal and am hoping he can help us get this happening more smoothly for folks. If not we will get to it, ju

[2016-09-06 21:28] hildjj commented on #69
Did @microshine have an opinion about the approach?  Note, I'm currently using a version of the build script from [node-sqlite](https://github.com/mapbox/node-sqlite3/blob/master/scripts/build-appveyor.bat), which we'll likely want to simplify a little.

[2016-09-06 23:07] rmhrisk commented on #69
@hildjj no, not yet. I will talk to him tomorrow.

[2016-09-07 09:10] Root-Core commented on #69
Okay, sorry you are right.. it takes some configuration.
I just wanted to express my gratitude.

`npm config set msvs_version 2015` helped a lot.
But it failed to resolve the OpenSSL path, so i had to copy the folder from
`C:\OpenSSL-Win32` to `C:\Build-OpenSSL-VC-32`

And OpenSSL 1.1.0 is not working for me, as the `lib\libeay32.lib` library was missing.
So I had to install [OpenSSL 1.0.2 (32bit

[2016-10-24 14:46] Root-Core commented on #69
Something news about the `node-pre-gyp` stuff? It is not that easy to run our project on all our development machines, as we need to install the compiler (VS2015) and OpenSSL and configure some stuff.

[2016-10-24 15:33] hildjj commented on #69
I'm willing to spend some more time on it this week, if the committers want.

[2016-11-10 23:24] prashcr commented on #69
@Root-Core Thanks for your solution! It helped me get past the libeay32.dll not found errors.

However I'm now stuck at the same problem as @hildjj
[code]

Are there any workarounds for this atm?

[2016-11-14 22:13] zbyte64 opened #75 "Installing from npmjs.com fails."
A user tries: `npm install webcrypto-core` then npm will run the build process which requires `tsc` (which is not automatically installed). User then installs typescript globally and tries `npm install webcrypto-core` again. Now it complains about that module `mkdirp` is not found because the bindings are not available globally.

Running the build process as part of `npm install` makes this module

[2016-11-14 23:03] yusefnapora commented on #75
I just ran into this as well; 1.0.8 and 1.0.9 both fail to build for me on the official node docker image. 1.0.7 works, however, so perhaps the typescript requirement is recent?

[2016-11-15 06:43] microshine commented on #75
@zbyte64 @yusefnapora  Sorry for this error. I updated source and republished module. Could you check it?

[2016-11-15 14:56] yusefnapora commented on #75
I'm afraid it still fails for me, although the problem seems to be with `webcrypto-core` rather than this module directly

<details>
<summary>Here's some npm install output</summary>
[code]
</details>

This module's package.json [has a git dependency](https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/package.json#L49) on the `types` branch of webcrypto-core.  That branch's instal

[2016-11-15 18:25] microshine commented on #75
@yusefnapora  `webcrypto-core`, `node-webcrypto-ossl` use `typescript` for compilation. I use global instaled TS module.
I'll update `webcrypto-core` link to npm module soon. It'll have the same structure as git version.

I'm not sure what the best way is for typescript dependency
- add package.json `dependency`
- ask to install typescript globaly

[2016-11-15 18:28] microshine commented on #75
I added "typescript" dependency for `webcrypto-core` module in git version.

[2016-11-15 19:18] zbyte64 commented on #75
The changes seem to have worked for me.

[2016-11-15 19:44] yusefnapora commented on #75
Thanks @microshine, that did the trick for me.  I just installed into a fresh vm without a global typescript, and webcyrpto-core pulled in typescript as a dependency.

[2016-11-15 19:45] microshine commented on #75
Should I close this issue?

[2016-11-15 21:28] yusefnapora commented on #75
I think so; I was able to install the latest version of node-webcrypto-ossl during my app's npm install, both locally and in the docker container that was failing before.  Thanks for fixing this!

[2016-11-16 05:17] #75 closed

[2016-11-16 05:21] microshine commented on #42
#15

[2016-11-16 05:23] #42 closed

[2016-11-16 05:23] microshine commented on #53
The same issue #15

[2016-11-16 05:23] #53 closed

[2016-11-20 17:48] microshine commented on #15
PSS algorithm is supported
https://travis-ci.org/PeculiarVentures/node-webcrypto-ossl/jobs/176159499#L884

[2016-11-20 17:48] #15 closed

[2016-11-20 19:45] rmhrisk commented on #70
Resolved

[2016-11-20 19:45] #70 closed

[2016-11-20 19:46] rmhrisk commented on #54
Duplicate of https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/44

[2016-11-20 19:46] #54 closed

[2016-11-20 19:46] rmhrisk commented on #27
Resolved

[2016-11-20 19:46] #27 closed

[2016-11-20 19:49] rmhrisk commented on #66
We have not ported these tests but we did add test vectors and many more tests closing this.

[2016-11-20 19:49] #66 closed

[2016-11-20 19:50] rmhrisk commented on #19
The code has changed substantially. Closing this. I will create a new bug to track making sure we get a clean Fint++ run.

[2016-11-20 19:50] #19 closed

[2016-11-20 19:51] rmhrisk opened #76 "Do a Flint++ pass and resolve any issues"
We had previously had a Flint++ issue (https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/19). The code has changed substantially since then, we need to do a pass to make sure any issues are identified and resolved.

[2016-11-20 19:53] rmhrisk commented on #43
Seems to be resolved. Closing

[2016-11-20 19:53] #43 closed

[2016-11-22 12:48] kenshyx opened #77 "Build for electron not working"
Hello, I'm trying to build this package for electron but no luck :/

[code]
Using: `electron 1.4.7`, `node -v v6.3.0`, `node-gyp -v v3.3.1`

[2016-11-23 19:33] microshine commented on #77
@kenshyx Did you use `electron-gyp` for it?
https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md

[2016-11-23 20:09] kenshyx commented on #77
Yes, I tried all available methods.

[2016-11-23 20:13] microshine commented on #77
maybe `electron` uses another OpenSSL version. I'll check it later.

Why don't you use W3 Crypto from `window`?

[2016-11-23 20:14] kenshyx commented on #77
This package is a dependency of a library that I need :(

[2016-11-23 20:16] microshine commented on #77
ok. i'll see what i can do

[2016-11-24 18:11] microshine commented on #77
I found this https://github.com/electron/electron/issues/1410#issuecomment-152407010

[2016-11-24 18:24] kenshyx commented on #77
Sad :/, thanks for the info.

[2016-11-24 18:25] #77 closed

[2016-11-24 19:40] #44 closed

[2016-12-10 13:06] YuryStrozhevsky opened #78 "Undefined value for "algorithm" property for result of importKey"
After
[code]
I have "undefined" as a type for "algorithm" value for result of "importKey". Public key is a simple RSA correct key - the same code works perfectly in Chrome browser.

It is extremely needed to fix the issue and make node-ossl aligned with native WebCrypto.

[2016-12-10 19:25] #78 closed

[2016-12-17 23:17] elsehow opened #79 "Trouble encrypting long ArrayBuffers (AES-CBC mode)"
Hi!

signal-protocol relies on [AES in CBC mode to encrypt messages](https://github.com/elsehow/signal-protocol/blob/master/src/crypto.js#L38):

[code]

 When trying to encrypt a long `ArrayBuffer` (larger than `byteLength` 239), I find the encrypted output much shorter than expected.

Here's a test that fails in Node with node-webcrypto-ossl, but works in the browser with the WebCrypto API:

[Int

[2016-12-18 04:12] elsehow commented on #79
Investigating further, I find that

[code]

produces

[code]

In the browser, `algorithm` has an additional property `length`, which is 256. Not sure what this means yet.

[2016-12-18 09:58] microshine commented on #79
@elsehow I published new version of `node-webcrypto-ossl` - v1.0.15. Thank you for your issue

[2016-12-18 10:02] microshine opened #80 "Sometime error"
Error from time to time
[code]

[2016-12-18 18:38] elsehow commented on #79
That fixes my issue! Thanks much

[2016-12-18 18:38] #79 closed

[2016-12-19 12:10] YuryStrozhevsky opened #81 "Add support for AES-KW algorithm"
At the moment when I am trying to use AES-KW I got error "algorithm is not supported".

[2016-12-19 19:51] rmhrisk commented on #81
It seems that this is an example of how to do AES-KW with OpenSSL:
http://openssl.6102.n7.nabble.com/attachment/50241/0/e_aeswrap.c

Here is the AES-KW source for Chromium (which is based on BorringSSL):
https://chromium.googlesource.com/chromium/src/+/master/components/webcrypto/algorithms/aes_kw.cc

[2016-12-20 08:33] rmhrisk commented on #81
When this work is done we can use the pkijs-es6 tests to confirm it was done in a compatible way:

![image](https://cloud.githubusercontent.com/assets/1619279/21343524/e658666a-c64b-11e6-984e-8f2ceae3d19e.png)

[2016-12-20 10:26] YuryStrozhevsky opened #82 "Add support for PBKDF2 algorithm"
At the moment when I am using PBKDF2 algorithm I get "algorithm is not supported".

[2016-12-20 11:35] YuryStrozhevsky opened #83 "node-webcrypto-ossl produces incorrect signatures in case of RSA-PSS algorithm"
During testing of [PKIjs certificate example](https://github.com/PeculiarVentures/pkijs-es6/tree/master/examples/CertificateComplexExample) I found that node-webcrypto-ossl produces incorrect signatures in case of RSA-PSS algorithm. It could be easily verified by storing any certificate, made by PKIjs example, on filesystem and then open it in Microsoft Windows, for example.

[2016-12-20 11:43] microshine opened #84 "Add RSA-PSS vector tests"
it's needed to resolve #83 issue

[2016-12-20 16:34] rmhrisk commented on #82
We can use the PKIjs-es6 tests as validation of correctness when we do this work:

![image](https://cloud.githubusercontent.com/assets/1619279/21358717/684e2e74-c68e-11e6-974c-25ee2bf40d3c.png)

Here is a link to the Chromium implementation - https://chromium.googlesource.com/chromium/src.git/+/44.0.2403.88/components/webcrypto/openssl/pbkdf2_openssl.cc

Here is an example using OpenSSL:
http://ex

[2016-12-21 18:18] microshine opened #85 "HMAC sign/verify ignores algorithm param length"
- [ ] Extend tests for different length (vectors/simple)

- [ ] Extend `Hmac.sign` and `Hmac.verify` functions

[2016-12-22 17:06] microshine opened #86 "Public keys must be extractable"
https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/lib/crypto/rsa.ts#L37

[2016-12-24 03:20] microshine commented on #85
WebCrypto doesn't support this specification
[W3 WebCryptoAPI HMAC](https://www.w3.org/TR/WebCryptoAPI/#hmac)

[2016-12-24 06:41] YuryStrozhevsky commented on #85
We need to support the HMAC since Chrome and Firefox are supporting it. Also for PKIjs the algorithm is necessary for encryption cases.

[2016-12-27 18:02] #84 closed

[2016-12-27 18:02] #86 closed

[2016-12-27 18:50] microshine commented on #34
@rmhrisk
https://github.com/PeculiarVentures/node-webcrypto-ossl#supported-algorithms

SHould it be closed?

[2016-12-27 18:52] microshine commented on #69
v1.0.16 supports static OpenSSL lib from NodeJS in Windows. Now it can be compiled more easier

[2016-12-27 19:18] microshine commented on #85
@YuryStrozhevsky Could you review it?
https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/lib/crypto/hmac.ts#L36

[2017-01-06 18:09] rmhrisk opened #87 "Random ECDSA signature verification failures"
We just released PKIjs v2 which uses node-webcrypto-ossl for unit tests, we are experiencing occasional build failures related to ECDSA + SHA-2 signed objects.

Sometimes its OCSP, sometimes certs, but its always this suite of algorithms:

![image](https://cloud.githubusercontent.com/assets/1619279/21727860/2ed577c0-d3f8-11e6-91d7-3e17704f0f0c.png)

I am sure this one will be no fun to find but it

[2017-01-06 19:38] rmhrisk commented on #87
Yury says I miss understood the origin here; closing.

[2017-01-06 19:38] #87 closed

[2017-01-17 09:43] microshine opened #88 "EllipticCurves X25519"
Should we support X25519 named curve?
[signal-protocol](https://github.com/elsehow/signal-protocol/tree/master/native)
[OpenSSL](https://github.com/openssl/openssl/blob/0a3dce8257d62cd39a17ff7fdbb1fe4724146f7b/crypto/ec/ec_lcl.h#L611-L614)

[2017-01-29 12:30] boldt opened #89 "ECDH exportKey with raw format fails"
I created this MWE and I am running it with:

* node-webcrypto-ossl 1.0.16
* node 5.8.0

[code]
It fails with the following error:

[code]

The error tells me, **It can be used with 'raw' format** - but I can't. If I change raw to jwk, it works.

[The WebCryptoAPI sec sais wrt exportKey](https://www.w3.org/TR/2016/PR-WebCryptoAPI-20161215/#dfn-SubtleCrypto-method-exportKey): *Support of "raw" key

[2017-01-29 14:25] boldt commented on #89
The corresponding Travis also does not test raw export:

https://travis-ci.org/PeculiarVentures/node-webcrypto-ossl/jobs/196334672#L1265

[2017-01-29 19:30] rmhrisk commented on #89
If I understand correctly this is a feature export to support RAW, @boldt we can add this, but would you be able/interested to do a PR for this, I believe it should be straight forward.

[2017-01-30 10:53] boldt commented on #89
Yes, I am interested to do a PR, which gives me a change to understand the internals of your library (and WebCrypto) better :)

[2017-02-01 02:36] rmhrisk commented on #88
To do this we will need to switch to BorringSSL which is something I want to see us do anyway.

[2017-02-01 13:57] boldt commented on #89
I've started with the raw integration for this package:

https://github.com/boldt/node-webcrypto-ossl/commit/bed62b908092a169556bf6ef04a544c60789f76a

My current status is, that `raw` is the same as `spki` (C&P). Now I'm hanging at this line:

https://github.com/boldt/node-webcrypto-ossl/blob/raw/src/node/async_ec.cpp#L109

Where the key is exported a spki. I've no clue how to continue to get the

[2017-02-01 14:15] microshine commented on #89
I think you can use JWK format. As I can see EC raw format is <04 octet> +<x raw> + <y raw>

[2017-02-01 14:23] microshine commented on #89
[code]

Result:
[code]

[2017-02-01 15:34] boldt commented on #89
I'm not so sure about it. My current example:

[code]

This returns  for spki:

[code]

and for raw

[code]

In case of `P-256` (example above) it is always prefixed with (26 byte):

[code]

A solution could be to take the spki key and remove the prefix.

Some more research: Looking into [RFC 5480](https://tools.ietf.org/html/rfc5480#section-2), EC SPKI has the following format:

[code]

An algori

[2017-02-01 15:56] microshine commented on #89
Here is decoded values form my example

X: (base64url -> hex)

[code]

Y: (base64url -> hex)

[code]

RAW: (base64 -> hex)

[code]

As you can see to make raw from JWK is easy. I don't like idea to get raw from SPKI, because it can has another value for Named curve block (asn1 `algorithm` has another length). You need to have ASN1 parser to get `subjectPublicKey` and get value from it. I think it

[2017-02-01 15:59] microshine commented on #89
For `importKey` function you can convert raw to JWK. All you have to do is to remove first byte with `04` and split value to get X and Y

[2017-02-01 23:56] boldt commented on #89
Based on your explanations, I just created pure JS exportRaw/importRaw functions. They work well. Next step is to get it integrated into this library.

[2017-02-02 08:43] microshine commented on #89
@boldt I published new version of `webcrypto-core`. Now you can use exportKey/importKey with `raw` format for EC public keys
https://github.com/PeculiarVentures/webcrypto-core/blob/master/src/ec/crypto.ts#L60-L62.

[2017-02-02 11:04] boldt commented on #89
I just pushed a PR. I compiled my code against this PR:

https://github.com/PeculiarVentures/webcrypto-core/pull/4

[2017-02-03 00:26] rmhrisk commented on #89
@boldt Thanks!.

Merged so closing

[2017-02-03 00:26] #89 closed

[2017-02-03 14:30] boldt commented on #89
Thanks for the quick merge.

[2017-02-15 12:46] akselnordal opened #92 "Warnings on npm install (node-gyp compile) using Node 6.9.5"
Installing node-webrypto-ossl using the latest node LTS-version (6.9.5), node-gyp creates deprecation warnings. See output below:

[code]

[2017-02-15 12:47] akselnordal commented on #92
warnings observed on osx and ubuntu

[2017-02-16 08:20] phihag opened #94 "Installation as module crashes with tsc: not found"
When I try to install node-webcrypto-ssl with `npm i node-webcrypto-ssl`, it breaks with the message `tsc: not found`:

[code]

Running `npm install typescript` works around the problem, but I believe typescript should be declared as a `dependency`, not only a `devDependency`.

[2017-02-16 08:29] #92 closed

[2017-02-16 08:32] #80 closed

[2017-02-16 08:41] microshine commented on #94
Fixed in v1.0.19

[2017-02-16 08:41] #94 closed

[2017-02-16 08:52] phihag commented on #94
Thank you very much! I can confirm that this update fixes my problem.

[2017-02-16 09:31] akselnordal commented on #92
Wow, quick response. Nice work, thanks :)

[2017-02-28 19:45] rmhrisk opened #96 "Incorporate wycheproof into project"
https://github.com/google/wycheproof

[2017-03-13 22:46] microshine opened #97 "RSA importKey, unwrapKey bad CryptoKey algorithm"
After `importKey`, `unwrapKey` returned CryptoKey hasn't got enough information about key algorithm. Algorithm doesn't contains `modulusLength` and `publicExponent`

[2017-03-14 09:55] microshine commented on #97
Fixed in 1.0.21

[2017-03-14 09:55] #97 closed

[2017-05-03 19:27] moll opened #99 "Don't pollute global scope with atob and btoa"
Hey,

I realize it's meant to be a polyfill, but I don't think polluting the global scope with `atob` and `btoa` as a side-effect of requiring the module is a good idea. If they ever come to V8 as a runtime, then great, but till then people using them will have to import them from somewhere manually anyways and a side-effecty `require` statement just ain't cool. :)

Otherwise, thanks for the modul

[2017-05-22 01:38] 2fours opened #100 "Expose signature format option"
Thanks for this contribution.

In ec_dsa.cpp the signatures are converted to and from DER format (eg. https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/src/ec/ec_dsa.cpp#L134). Any change of exposing a choice here? Other platforms encode the signature in DER, so I've had to fork and expose this myself. Cheers.

[2017-05-22 06:30] microshine commented on #100
Signature must be in the same format like browsers have (Chrome, Mozilla, Safari). I think it would be better to make functions like `ConvertDerSignatureToWebCryptoSignature` and `ConvertWebCryptoSignatureToDerSignature ` in your JS project where you use node-webcrypto-ossl. It'll allow you to use the latest version of current module without fork sync.

[2017-05-27 22:48] fuson opened #101 "Strange deriveKey activity"
VERY strange:
    let salt = Buffer.from("01020304050607080102030405060708", 'hex');

    let derivedRawKeyArray = await webcrypto.subtle.deriveBits(
        {
            name: "PBKDF2",
            salt: new Uint8Array(salt),
            iterations: 2048,
            hash: {
                name: "SHA-256" //can be "SHA-1", "SHA-256", "SHA-384", or "SHA-512"
            },
        },
        key

[2017-05-27 23:05] fuson commented on #55
Yep, it will be very nice!

[2017-05-28 06:16] microshine commented on #101
Hello @fuson! Coude you show complited example. I can't repeat your error.

Here is a code I used

[code]

[2017-05-28 07:15] fuson commented on #101
Here is full representation code:
node --version v7.8.0
last git codebase

import * as WebCrypto from "node-webcrypto-ossl";

let webcrypto = new WebCrypto();

async function main() {
    const password = "alex";

    const keyBuffer = Buffer.from(password, "utf8");

    let key = await webcrypto.subtle.importKey(
        "raw",
        keyBuffer,
        {
            name: "PBKDF2",
        },

[2017-05-28 12:42] microshine commented on #101
There is an error with data conversion in module. If I use `Uint8Array` instead of `Buffer`, it works ok.

[2017-05-28 13:20] #101 closed

[2017-05-28 13:23] microshine commented on #101
The problem was in `webcrypto-core`. I fixed problem in it. You can update `webcrypto-core` or install the newest version of `node-webcrypto-ossl` v1.0.24

[2017-05-28 15:51] fuson commented on #101
Tnx! Спасибо!

[2017-06-09 01:10] 2fours opened #102 "Missing symbols running under electron"
I get this error when requiring node-webcrypto-ssl in an html file under electron:

Uncaught Error: dlopen(/Users/adam/dev/surespot-desktop/node_modules/node-webcrypto-ossl/build/Release/nodessl.node, 1): Symbol not found: _EVP_PKEY_decrypt
  Referenced from: /Users/adam/dev/surespot-desktop/node_modules/node-webcrypto-ossl/build/Release/nodessl.node
  Expected in: flat namespace
 in /Users/adam/d

[2017-06-09 01:21] 2fours commented on #102
Related to this? https://github.com/electron/electron/issues/9275

[2017-06-09 01:23] 2fours commented on #102
Also https://electron.atom.io/blog/2016/08/08/electron-internals-using-node-as-a-library

[2017-06-09 01:28] 2fours commented on #102
Just found this: https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/77...so is electron not supported?

[2017-06-09 04:07] 2fours commented on #102
I managed to get it working by modifying the bindings.gyp to use the include files and static lib for the homebrew openssl implementation on my machine. It would seem that in order to work cross platform for electron that node-webcrypto-ossl should probably build openssl as suggested in the above links.

[2017-06-09 06:01] microshine commented on #102
You can use `.npmrc` file in you project. It allows to install `node-webcrypto-ossl` for electron.

__.npmrc__
[code]

[2017-06-16 02:17] 2fours commented on #102
Thanks.

[2017-06-16 02:17] #102 closed

[2017-06-17 23:46] Cyraxing opened #103 "The command npm install node-webcrypto-ossl does not work"
When I type the following command in an empty folder:

npm install node-webcrypto-ossl

I get the following errors:

C:\Empty>npm install node-webcrypto-ossl

C:\Empty\node_modules\node-webcrypto-ossl>if not defined npm_config_node_gyp (no
de "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_module
s\node-gyp\bin\node-gyp.js" rebuild )  else (node "" rebuild )
Building the pro

[2017-06-18 04:21] rmhrisk commented on #103
What version of npm and node are you using?

[2017-06-18 10:17] Cyraxing commented on #103
npm version:
{ npm: '3.10.10',
  ares: '1.10.1-DEV',
  http_parser: '2.7.0',
  icu: '58.2',
  modules: '48',
  node: '6.10.3',
  openssl: '1.0.2k',
  uv: '1.9.1',
  v8: '5.1.281.101',
  zlib: '1.2.11' }

node.js version:
Node.js v6.10.3

[2017-06-18 16:31] tarcieri opened #104 "Support for AES-CTR"
I am using AES-CTR in an implementation of AES-SIV:

https://github.com/zcred/sivchain/tree/master/js

AES-CTR with 128-bit and 256-bit keys is supported by Chrome via the WebCrypto API. It is also supported by Firefox (which also supports the 192-bit keys, but I don't care about those personally).

It would be great if this library supported it too.

[2017-06-18 23:59] #104 closed

[2017-06-19 00:02] microshine commented on #104
AES-CTR is available in new version 1.0.26

[2017-06-19 00:59] tarcieri commented on #104
Fantastic! Thank you!

[2017-06-19 02:06] rmhrisk commented on #103
@microshine any ideas?

[2017-06-19 06:29] microshine commented on #103
I tried to rebuild module for x64 and x86. It's working for me. Maybe there are no any dependencies
https://github.com/nodejs/node-gyp/issues/54

[2017-06-24 14:14] Cyraxing commented on #103
In the reference where I have sent the comment of pherris says that nstalling Windows 7 64-bit SDK and using Visual Studio cmd prompt has solved its problem, however to me it gives me the following error:

C:\Empty>npm install node-webcrypto-ossl

C:\Empty\node_modules\node-webcrypto-ossl>if not defined npm_config_node_gyp (no
de "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\no

[2017-06-26 07:08] microshine commented on #103
As I can see the first error from log you sent shows to C++ compiler error

Could you try to build `node-webcrypto-ossl` from source?
[code]
Could you send me log after `node-gyp configure`?

Also you can open C++ generated project from `build` directory.

[2017-06-26 13:23] Cyraxing commented on #103
I did the steps you indicated to me and I solved the problem. Thank you very much.
Here are the results for node-gyp configure:

C:\Users\Cyberhack\node-webcrypto-ossl>node-gyp configure
gyp info it worked if it ends with ok
gyp info using node-gyp@3.6.1
gyp info using node@6.11.0 | win32 | x64
gyp info spawn C:\Python27\python.exe
gyp info spawn args [ 'C:\\Users\\Cyberhack\\AppData\\Roaming\\npm

[2017-06-27 19:38] gkaptch1 opened #107 "New Typescript version breaks npm install"
Hey,

When trying to install node-webcrypto-ossl today I noticed there was a error from build:e5 tsc.  It looks like a new version of Typescript was released as is being automatically used for building.  Manually downgrading to Typescript@2.3.4 allows for the install to finish without errors.

just running
`$ npm install node-webcrypto-ossl`
yeilds

running
`$ npm install typescript@2.3.4`
beforeh

[2017-06-28 20:03] microshine commented on #107
Thank you for issuer. TS error fixed in v1.0.27

[2017-06-28 20:23] gkaptch1 commented on #107
Thanks!

[2017-06-28 20:23] #107 closed

[2017-06-29 12:38] lightsofapollo commented on #107
Thanks for addressing this so quickly ;)

[2017-07-07 14:46] mkg20001 opened #109 "Prebuilt binaries"
Currently every time someone installs node-webcrypto-ossl it rebuilds the whole thing.
Would it be possible to add prebuilt binaries like for example https://github.com/cryptocoinjs/secp256k1-node ?

[2017-07-17 10:06] anywhichway opened #110 "production use"
Great package! Seems to be one of the most actively developed crypto packages. Using it because we don't want to provide non-native crypto in the browser and this is the only package we have successfully managed to get to accept WebCrypto generated keys AND generate keys acceptable to WebCrypto. Two questions:

1) Do you have a target time from for endorsing public use?

2) If the above is a long

[2017-07-17 16:51] rmhrisk commented on #110
1. It is probably production ready, we just have not had the time or funds to have a third-party assessment of the code-base. It is being used by several projects in production already. It is up to you to make sure it is suitable for your use though.

2. We dont have the bandwidth o help with this sorry.

[2017-09-20 07:10] gmcdev commented on #110
Sorry, adding the following to an issue -- bad git form...but I'm stuck: Am I misunderstanding the usage notes? Thought I could use this in browsers.

I used this library as a stand-in for  `window.crypto.subtle` to run a web-based controller in Node -- worked fine as far as I tested it.

Now I'm trying to use it (back in the browsers) to account for the inconsistent implementations of SubtleCrypt

[2017-09-20 12:39] microshine commented on #110
Try to set `node-webcrypto-ossl` as external module.

Here is example of how I do it on `webpack` for node's `crypto` module in `webcrypto-liner`
https://github.com/PeculiarVentures/webcrypto-liner/blob/master/webpack.config.js#L27
https://github.com/PeculiarVentures/webcrypto-liner/blob/master/src/init.ts#L4-L5

[2017-09-21 05:37] gmcdev commented on #110
My hat is off to you Peculiar Gentlemen: This appears to be the missing link I need! I'm a little embarrassed I didn't find it amidst your other Ventures -- so, thank you very much for the lead~~!

I will get the `webcrypto-liner` module implemented & transpiling, and hopefully learn a thing or two from the pro work you guys are doing here.

-g

[2017-12-21 10:12] gaspard opened #112 "digital envelope routines:EVP_DecryptFinal_ex:wrong final block length"
First thanks a lot for this library which helps me test my webcrypto stuff in CI and locally 🙏🏼 !!

Without any change in code, I suddenly get these errors when using subtle.encrypt with AES.

[code]

I am passing an ArrayBuffer as data to 'encrypt':

[code]

[2017-12-21 10:13] gaspard commented on #112
This does not happen on the CI server but only on my mac. Both are running node v6.12.2.

[2017-12-21 10:31] microshine commented on #112
@gaspard Could you get size of data you are trying to decrypt?
It must be multiple to 16

[2017-12-21 10:35] microshine commented on #112
I ran this code on Mac. It works.

I've got the same error if `decrypt` has wrong `enc` size
[code]

[2017-12-21 10:49] gaspard commented on #112
Wow you are incredible.

My data is a Uint8Array of length 64. I ran your example and it works fine. I will try to see what is wrong...

Thanks a lot for your help. I'll post my error and close this issue when I find what fails.

[2017-12-21 10:54] microshine commented on #112
`enc` and `dec` can be `ArrayBuffer`, `Buffer` or `ArrayBufferView`
[index.d.ts](https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/index.d.ts#L6)

[2017-12-21 14:34] gaspard commented on #112
The problem is that my encrypted message contains the IV buffer and I use `buffer.subarray ( start, end )` and this fails. If I use `buffer.slice ( start, end )`, it seems to work in node.js.

Is this a bug ? Shouldn't both work ?

Both work on web client.

[2017-12-21 15:13] microshine commented on #112
@gaspard I updated test script
I've got error on Mac
`Error: 123145399431168:error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt:../deps/openssl/openssl/crypto/evp/evp_enc.c:531:`
This code works in Chrome.

It works ok if I change `msg.subarray` to `msg.slice`

[code]

I'll check it. Thank you

[2018-01-01 07:02] LiraNuna opened #113 "Exported types for use with Typescript"
How would one use this library as a Typescript module? Specifically, how would typing of results should be handled since as far as I can tell, only the top level `WebCrypto` class is exposed.

[code]

[2018-01-01 08:32] microshine commented on #113
@LiraNuna I fixed TS declaration error and published new version of `node-webcrypto-ossl` v1.0.33
Could you try to use new version?

[2018-01-01 08:55] microshine commented on #113
It must work like
[code]

[2018-01-01 09:38] LiraNuna commented on #113
@microshine How does this help in getting the type `CryptoKey`? I'm sorry if I'm missing something

[2018-01-04 06:34] LiraNuna commented on #99
They seem to be unused by the project?

[code]
They are only defined on https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/lib/webcrypto.ts#L9-L12

[2018-01-17 16:19] microshine commented on #113
@LiraNuna I'm sorry for late answer (just saw your question)

![image](https://user-images.githubusercontent.com/7333669/35053530-5f55b720-fbbb-11e7-8c8a-6ebc61c8a6b7.png)

TypeScript sees `node-webcrypto-ossl` declarations and uses extended WebCrypto interface (KeyStorage)
Standard `lib.dom.d.ts` has Crypto declarations.

Here is example of tsconfig.json for my TS file from image
[code]

[2018-01-18 04:53] LiraNuna commented on #113
Yeah that works great!
What I'm talking about is when I need to pass some results around to functions.

For example, imagine I want a function that takes a key and some bytes to perform encryption on.

[code]

See those question marks? what do I use to type the key? It should be `CryptoKey` but I cannot get the type out of the module in order to type it correctly.

[2018-01-18 09:13] microshine commented on #113
There are two ways
1. NodeWebcryptoOpenSSL namespace using
[code]

2. Standard TS lib using
You can use `CryptoKey` type from `dom.lib.d.ts`

[2018-01-18 09:18] #99 closed

[2018-01-18 09:25] microshine commented on #112
Fixed in https://github.com/PeculiarVentures/webcrypto-core/commit/f144508f8fb68d7dd09e7ce16c7230f6da87aacf

[2018-01-18 09:25] #112 closed

[2018-01-18 09:26] #103 closed

[2018-01-18 09:27] #100 closed

[2018-01-18 20:29] LiraNuna commented on #113
Sorry for my ignorance, but how do you get that namespace?

[2018-01-18 20:38] microshine commented on #113
`d.ts` file of `node-webcrypto-ossl` module has declared namespace NodeWebcryptoOpenSSL
https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/index.d.ts#L4

Use `/// <reference types="node-webcrypto-ossl" />`

![image](https://user-images.githubusercontent.com/7333669/35120274-a4b9adec-fca8-11e7-8657-1891889fd01a.png)

[2018-01-18 20:40] microshine commented on #113
Another variant

TS shows namespace if you use module in file
![image](https://user-images.githubusercontent.com/7333669/35120336-df2cc180-fca8-11e7-93b5-dcdddf6e26a7.png)

[2018-01-18 21:21] LiraNuna commented on #113
Thank you, I wasn't aware that namespaces were implicitly exposed.

[2018-01-18 21:21] #113 closed

[2018-02-13 23:27] aegarbutt opened #116 "ab2b defaults to using an offset of 0, rather than the offset specified in the ArrayBufferView"
Thank you for this library!

In trying to determine what was causing a regression in the miscreant/miscreant test suite, I tracked down the changes made to the `ab2b` function between version 1.0.31 and 1.032 to the culprit.

After some debugging, I determined that the issue was that it takes a key provided in a Uint8Array, and then splits into two separate views:

[code]

When passed the `ab2b` f

[2018-02-14 04:02] rmhrisk commented on #116
We will fix this

[2018-02-14 08:13] #116 closed

[2018-03-02 15:03] derpsteb opened #118 "Problem when browserifying"
Hello to you mighty developers of this promising piece of software and anybody else reading this :D.

I am pretty sure I did miss something but after double checking the documentation and the open and closed issues I could not get the info I needed.

I am looking for a package to do simple RSA encryption within the browser and a node environment.
For that I installed your package via npm and requi

[2018-03-02 16:14] rmhrisk commented on #118
`node-webcrypto-ossl` is a native package and will not work in the browser.

We have another project called [webcrypto-liner](https://github.com/PeculiarVentures/webcrypto-liner) that is designed for the browser that is similar in spirit to this.

With that said, depending on your user agent targets you may not need liner now, the most recent browsers do well with most of webcryptos API.

Ryan

[2018-03-02 16:18] derpsteb commented on #118
Hello Ryan,

thank you for your quick response.

So I will have to check if my code is running within a node environment or not and depending on this I will load node-webcrypto-ossl.

Is that correct?

[2018-03-02 16:39] rmhrisk commented on #118
Yes. There was a project I saw that added this layer https://www.npmjs.com/package/node-webcrypto-shim but ive never tried it.

[2018-03-02 16:39] #118 closed

[2018-03-15 07:36] jeprojects opened #119 "AES CTR weird padding?"
I am using the following code:

[code]

For some reason, really small files (112 byte file of text), for example a text file just with: VvTKD7DRZcVCKbLYWr29hFXqK6zu7l as content is always making a fixed file size of 8kb.

When I decrypt it, there is this weird padding added to the end of the decrypted file:

[code]

When I encrypt a 5.44KB file, it doesn't add this and the encrypted file size is 5

[2018-03-15 11:04] microshine commented on #119
@jeprojects I created simple test script for AES-CRT algorithm. It returns correct encoded data for different incoming messages. I ran this code in Chrome browser, it has the same result

Try to check you `data` incoming param

### Script
[code]
### output
[code]
### Chrome
![image](https://user-images.githubusercontent.com/7333669/37459463-35ecacde-2859-11e8-999c-e08dd72b2fb7.png)

[2018-03-15 11:34] jeprojects commented on #119
@microshine Thanks for your help.

The data is just this:

let fileData = fs.readFileSync('./test.txt', null).buffer;

To my understanding, node 4.4+ buffers are Uint8Array, so I can't see why the data would be an issue.

If I use a larger file, this issue doesn't occur.

[2018-03-15 11:37] microshine commented on #119
@jeprojects node-webcrypto-ossl supports `Buffer` type. Try to use `Buffer` instead of `ArrayBuffer` (fileData.buffer)

[2018-03-15 11:40] jeprojects commented on #119
@microshine That is what I am already doing:

let fileData = fs.readFileSync('./test.txt', null)**.buffer**;

I also tried this way as the data, and it worked fine:

let fileData = new Uint8Array([0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6])

[2018-03-15 11:41] microshine commented on #119
@jeprojects Try this
[code]

[2018-03-15 11:42] jeprojects commented on #119
@microshine Ahh that did it! Thanks so much.

[2018-03-15 11:44] microshine commented on #119
I use `new Uint8Array(nodeBuffer).buffer` to get correct `ArrayBuffer` from `Buffer` for my nodejs projects

[2018-03-15 13:20] #119 closed

[2018-03-15 14:01] jeprojects commented on #119
@microshine Thanks again!

[2018-03-16 13:07] wanderer opened #120 "dynamic linking error"
Hi. I'm getting this when doing `require(node-webcrypto-ossl)`.

The module compiles without any errors. I'm not sure how to debug from here. Let me know if you have any suggestions!

[2018-03-18 08:27] microshine commented on #120
@wanderer What version of NodeJS do you use?

[2018-03-19 18:22] wanderer commented on #120
@microshine node v9.8.0. Also I should mention this happens only on 9.8.0 so far

[2018-03-19 18:31] microshine commented on #120
@wanderer It looks nodejs v9.8.0 uses OpenSSL v1.1.0. Current version of modules is based on OpenSSL v1.0.2

Can you get OpenSSL version from your nodejs?

[2018-03-19 18:39] wanderer commented on #120
@microshine i'm not sure how to do this. Any tips?

[2018-03-19 18:41] microshine commented on #120
https://stackoverflow.com/questions/6656324/check-for-current-node-version
[code]

[2018-03-19 18:51] microshine opened #121 "Support OpenSSL v1.1.0"
NodeJS v9 uses OpenSSL v1.1.0

[2018-03-19 18:52] microshine commented on #120
I created new issue to fix this error https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/121

[2018-03-19 18:59] wanderer commented on #120
i have `openssl: '1.1.0g',`

On Mon, Mar 19, 2018 at 2:52 PM, Miroshin Stepan <notifications@github.com>
wrote:

[2018-03-20 08:46] microshine commented on #120
@wanderer I installed new version of nodejs v9.8.0. I don't have linking error. Try to rebuild node-webcrypto-ossl module

[code]

[2018-03-20 09:42] microshine commented on #120
My nodejs uses OpenSSL v1.0.2n
[code]

[2018-03-23 22:19] fritzy opened #122 "accessing CryptoKey type"
For WebCrypto, I believe that CryptoKey is attached to window -- is it anywhere I can access in this library? I'd like to be able to confirm an `value instanceof CryptoKey`

[2018-03-24 08:58] microshine commented on #122
This is good question!

Current version of `node-webcrypto-ossl` exports only Crypto class. So it's impossible to do `value instanceof CryptoKey`

I'll export `CryptoKey` and `SubtleCrypto` from module in new version

[2018-04-03 11:21] YuryStrozhevsky opened #123 "Public key information is not mandatory for ECDSA private keys"
When I am trying to import private key via this code I have error:
[code]

[code]
At the same time native WebCrypto could successfully import this key.

The problem in your code is that you presume `x` and `y` values are always available inside `jwk`. All these values are part of ECPublicKey type. But in fact for ECPrivate key we have this ASN.1 schema:
[code]
So, as you can see `publicKey` is opt

[2018-04-03 12:33] microshine commented on #123
Which native crypto do you use for test?

I ran code in Chrome, Firefox, and Safari
[code]
### Chrome
[code]
### Safari
[code]

### Firefox
[code]

[2018-04-03 12:46] YuryStrozhevsky commented on #123
No problem in Chrome 65.0.3325.181:
![untitled_2](https://user-images.githubusercontent.com/6128446/38249967-1f5e4926-3756-11e8-8206-f070920dfff9.jpg)

I will try to run at another browsers soon.

[2018-04-03 12:51] microshine commented on #123
I use the same version of Chrome
My OS is MacOS High Sierra 10.13.3

![image](https://user-images.githubusercontent.com/7333669/38250030-57504eb0-3756-11e8-92aa-78a1546846bc.png)

Here is chromium source code. They use `x` and `y` for private key creation
https://cs.chromium.org/chromium/src/components/webcrypto/algorithms/ec.cc?sq=package:chromium&l=500-512

[2018-04-03 12:52] YuryStrozhevsky commented on #123
Very interesting - when I am using Web application with native `import` directives all works just fine. But when I am trying to run ES5 application I got DOM Exception for the same code.

Anyway, even if you have DOM Exception it is wrong behavior and seems in latest Chrome code it was already fixed. I do suggest you to fix your library as well - as I said data from public key is only optional for

[2018-04-03 12:58] microshine commented on #123
I see. I'll look at this and try to fix

This code throws error in Chrome too
[code]

[2018-04-03 12:59] microshine commented on #123
@YuryStrozhevsky can you export created key to `jwk` and `pkcs8` and share result?

[2018-04-03 13:14] YuryStrozhevsky commented on #123
Hm, seems I had success for page used `webcrypto-liner`. When I removed it I got the same DOM Exception.

So, here there is a few ways how to process:
1. Aline code between `webcrypto-liner` and `node-webcrypto-ossl`;
2. Try to file a bug to Chrome. I will investigate JWK a little bit deeper and cover this item;

But for now I need to confirm `node-webcrypto-ossl` aligned with existing Chrome nati

[2018-04-03 13:14] #123 closed

[2018-04-03 13:16] YuryStrozhevsky commented on #123
Also here you could append a check that `x` and `y` are present in the input JWK. The error I had has no good information.

[2018-04-03 13:19] microshine commented on #123
Thank you. I'll update error message

[2018-04-14 06:31] #120 closed

[2018-04-14 06:48] #110 closed

[2018-04-23 04:21] wayne-davidson-tickle opened #124 "Signing a digest"
Hello,

I am using node-webcrypto-ossl via fortify.

I wish to sign a digest (I.E. as generated by subtle.digest OR as generated by another system). I believe the subtle.sign method does not expect a digest, it expects the message (original data) to be signed.

This is based on the assumption that subtle.sign (when using PKCS1) uses the RSA_PKCS1_sign method under the hood (https://github.com/Pecu

[2018-04-23 10:03] rmhrisk commented on #124
That is correct.

WebCrypto has no mechanism to do this.

Though we have added additional algorithms and added extra features to-date we have not (intentionally) not followed the WebCrypto.

We can discuss how we might be able to expose this. Can you elaborate on use case further?

[2018-04-23 12:59] microshine commented on #124
WebCrypto extended API

### RSA

- Add new algorithm support `RSA`, don't use `hash` parameter
- Mechanism can be used for sign and verify operations
- If RsaParams doesn't have `hash` parameter, then signing data is hash, otherwise compute hash from `data` and use it for signing

[code]

#### Example
[code]

### ECDSA

- Extend EcdsaParams. W3 uses `hash` parameter as required. I suggest to make

[2018-04-24 06:52] microshine commented on #124
@wayne-davidson-tickle @rmhrisk any thoughts about extended API?

[2018-04-24 13:32] rmhrisk commented on #124
I don’t love deviating from the WebCrypto API but think this might be a good change but don’t want to do it for the sake of doing it. E.g we need to hear from Wayne to understand scenario and importance.

[2018-04-26 00:01] wayne-davidson-tickle commented on #124
@microshine The extended API would work for my scenario

I'll attempt to explain the scenario a bit more:

Scenario:
- Signing a PDF in the browser using Fortify (which uses node-webcrypto-ossl)

**Available solution (with current APIs):**
- Encoded byte data (E.G. base64) of the PDF is required to be sent to the browser
- This can be rendered as a .PDF to be viewed by the user
- This data is what

[2018-05-13 16:55] davedoesdev commented on #121
Looks like @alippai has fixed this in https://github.com/tresorit/node-webcrypto-ossl
Any chance of merging those changes in? Node 10 uses OpenSSL v1.1.0 so this module won't install

[2018-05-13 17:45] alippai commented on #121
Those changes are incomplete, the EC crypto tests don't pass. As we use this lib for internal testing only, there is little chance we fix all the remaining issues

[2018-05-13 21:17] davedoesdev commented on #121
EC crypto tests pass with https://github.com/PeculiarVentures/node-webcrypto-ossl/pull/125
@alippai you had a bug here: https://github.com/tresorit/node-webcrypto-ossl/commit/1b866964af7324ba8485bdb4e487bb439f4e2be2#diff-056e6a9c586f8d59d95060f41164812cR52
(BIGNUMs r and s weren't allocated).

[2018-05-14 10:48] #121 closed

[2018-06-06 14:22] benjaminy commented on #82
In case anyone follows in my footsteps:
I found this issue because I was seeing the same error message that the creator of this issue saw. I looked at the code and found that I was trying to do a deriveKey of a key type that this library does not support with PBKDF2. But the error message made it seem like PBKDF2 was not supported at all. Would be nice if the error message was better.

[2018-06-06 14:27] microshine commented on #82
@benjaminy Can you share `deriveKey` parameters?
I need `algorithm` and `derivedKeyType` arguments

[2018-06-06 14:31] benjaminy commented on #82
{ "name": "PBKDF2", salt: ..., iterations: ..., hash: {name: "SHA-1"}, }
{ name: "AES-CTR", length: 256, }
When I changed AES-CTR to AES-CBC, it worked. It's not that I really wanted an AES-CTR key, I just copy-n-pasted from the WebCrypto examples page as an initial sanity check.

[2018-06-06 14:39] microshine commented on #82
Thank you

PKDF2 supports `AES-CBC`, `AES-GCM`, `AES-KW` and `HMAC` algorithms for `deriveKey` method
https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/lib/crypto/pbkdf2.ts#L50-L60

I'll create ticket to add `AES-CTR` to `deriveKey` for `PKDF2` and improve error message

[2018-06-06 14:41] microshine opened #127 "Add AES-CTR to PKDF2 deriveKey"
Module implements `AES-CTR` algorithm but `PKDF2` doesn't support it in `deriveKey` method

[2018-06-06 14:43] microshine opened #128 "Improve error message for PKDF2 `deriveKey`"
Add more info about unsupported algorithm

[2018-06-06 14:44] microshine commented on #82
I created new tickets #127, #128

[2018-06-14 05:54] apowers313 opened #129 "Errors building with OpenSSL 1.1.0h"
Using Debian/Buster (testing) with Node.js-8.11.2, npm-1.4.21. [Log here](https://github.com/apowers313/fido2-server-demo/files/2100799/fido2-server-demo.log)

See also apowers313/fido2-server-demo#5

[2018-06-14 12:33] microshine commented on #129
NodeJs v8 doesn't support OpenSSL v1.1.0, you need to use OpenSSL v1.0.2 or update NodeJS to v10

https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/src/ec/ec_dsa.cpp#L59

[2018-07-06 05:46] MichaelJCole opened #130 "Node 4: SyntaxError: Unexpected token ="
I'm getting this error on Node 4 using the npm package with Meteorjs 1.5:

[code]

[2018-07-06 06:30] rmhrisk commented on #130
Node 4 is 4 years old and is not supported. This may not be the issue here but I strongly suspect if you upgrade to 8,9 or 10 it will work.

[2018-07-06 07:04] microshine commented on #130
`function buf_pad(buf, padSize = 0)` is ES6
You need to update your nodejs to version which supports ES6

[2018-07-06 22:18] #130 closed

[2018-07-07 00:46] MichaelJCole commented on #130
@rmhrisk @microshine Sure, maybe.  Also, I fixed it in my fork.  There was only one place where the default was used, so that seems like a bug to me.

Also, tsconfig.json was configured incorrectly for the targets in package.json.  Scaling it back to "es5" fixed the problem with the build.

I've tried the package with Node 4 and ecdsa and haven't found a problem yet.

[2018-07-07 05:43] rmhrisk commented on #130
There are many CVEs in Node 4, you shouldn’t use a 4 year old platform, especially if your concerned with signing and encryption in the application.

[2018-09-04 08:37] 786lokesh commented on #112
Hi @microshine , I see the status as a bug level. Is this been fixed ? Because I am also getting the same error. I have not followed your code yet.
Below is my code snippet I am getting this error when I am trying to decrypt the data. I am not sure what's going wrong.
`var decipher = crypto.createDecipher('aes-256-cbc', password);
var decrypted_data = Buffer.concat([decipher.update(decipher_access

[2018-09-04 08:40] microshine commented on #112
@786lokesh Do you use NodeJs `crypto` module?

[2018-09-04 08:51] microshine commented on #112
@786lokesh what size of the `decipher_access_token_local ` is? It must be multiple of 16

[2018-09-04 10:03] 786lokesh commented on #112
@microshine  yes that is NodeJS crypto module. How can I find out the size of `decipher_access_token_local` ?

[2018-09-06 12:45] jpeisenbarth opened #131 "exportKey : hardcoded key_ops in JWK ?"
Hello,

`webcrypto.subtle.exportKey(format, AESCryptoKey)` returns a JWK which always contains `key_ops: [ 'encrypt', 'decrypt', 'wrapKey', 'unwrapKey' ]` regardless of the `AESCryptoKey.usages`.

Full (and reproducible) example :

[code]

In lib/crypto/aes.ts :

[code]

I'm wondering if `key_ops: key.usages` instead of `key_ops: ["encrypt", "decrypt", "wrapKey", "unwrapKey"` is not preferable ?
E

[2018-09-06 12:52] microshine commented on #131
PR is appreciated

[2018-09-06 12:56] microshine commented on #131
`hmac` uses hard encoded property `key_ops` too
https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/lib/crypto/hmac.ts#L67

[2018-09-06 13:57] jpeisenbarth commented on #131
Yup, i will fix it for HMAC also

[2018-09-06 14:36] #131 closed

[2018-10-22 13:49] markb-trustifi opened #133 "cannot build package with python 3"
node-webcrypto-ossl: 1.0.38
npm: 6.4.1
node: v8.11.1
python: 3.6.5 :: Anaconda
os: Mac

[code]

[2018-10-22 13:58] markb-trustifi opened #134 "Cannot install this library from NPM with python 3"
node-webcrypto-ossl: 1.0.38
npm: 6.4.1
node: v8.11.1
python: 3.6.5 :: Anaconda

[code]

[2018-10-22 13:59] #133 closed

[2018-12-28 00:20] go1dfish opened #136 "Memory leak when verifying ECDSA signatures"
Not sure how to isolate further from here, but I've been tracking down a memory leak in gun and have isolated it to the following line:

https://github.com/amark/gun/blob/master/sea/verify.js#L28

Which is effectively this call:

    webcrypto.subtle.verify({ name: 'ECDSA', hash: { name: 'SHA-256' } }, key, sig, new Uint8Array(hash))

If I short circuit the code before this line and pretend valida

[2018-12-28 00:33] rmhrisk commented on #136
We will try to look as soon as possible with new years coming up it may take a few days.

[2018-12-28 00:35] go1dfish commented on #136
Sweet, thanks for the fast response, I’ll try to put together an isolated test case tonight.

[2018-12-28 00:40] rmhrisk commented on #136
That would help.

[2018-12-28 05:16] go1dfish commented on #136
I seem to have been slightly off at where the leak is happening.

This causes memory to constantly grow for me:

    const WebCrypto = require("node-webcrypto-ossl");
    const { subtle } = new WebCrypto({ directory: "ossl" });
    setInterval(() => {
      subtle.importKey("jwk", {
        kty: "EC",
        crv: "P-256",
        x: "JG43ynRxqjy1-AemyMUoz14UqKM6cnh7zSPy_EAPgts",
        y: "RCZ5d

[2018-12-28 07:59] microshine commented on #136
My test
  - import EC key each 100ms
  - Run NodeJS GC each 10s
[code]

Run command `node --expose-gc <file.js>`

### 3 minutes
![image](https://user-images.githubusercontent.com/7333669/50507427-9b617500-0a8e-11e9-8fd4-9d0dfa88d7a8.png)

### 10 minutes
![image](https://user-images.githubusercontent.com/7333669/50507677-8d602400-0a8f-11e9-8aa6-d0648ec4b738.png)

[2018-12-28 13:01] go1dfish commented on #136
Yeah that's pretty similar growth to what I'm seeing in this test.

In production the impact is about as bad as this contrived test; GUN is doing to key import for every signature it verifies; and it verifies signatures individually on a per node/key in the db.

Luckily since the issue is with key import and I'm not dealing with a huge number of keys I can mitigate this with my own key cache (to p

[2019-01-09 18:50] amark opened #137 "Cannot read property 'decryptGcm' of undefined"
I'm getting this error in my tests. Not sure if something is just wrong with the build on my local machine or if this is others.

The **same happens for `encryptGcm`.**

[code]

I tried to poke around in code ... often (of `undefined` just typo/missing something) but `.native` seems to go to C/C++ code.

Would be lovely to have a fix soon, because then I could drop a few other dependencies and onl

[2019-01-09 21:05] amark commented on #137
this was my fault. Works fine. Closing.

[2019-01-09 21:05] #137 closed

[2019-02-06 23:28] davedoesdev opened #138 "Build error on Windows with Node 11.9.0"
Seeing this on AppVeyor and locally:

[code]

Compiles fine on Linux. This is strange, almost as if the function is missing in the OpenSSL linked with Node 11.9.0 on Windows.

[2019-02-07 04:57] rmhrisk commented on #138
Looks like your building against an older OpenSSL

[2019-02-07 07:21] davedoesdev commented on #138
The only OpenSSL includes I have on the system are in .node-gyp/... and I have no OpenSSL libraries so it  should be linking against the version in Node itself.

If I use Node 10.15.1 then I don't get the error so I think something's wrong with the OpenSSL in 11.9.0 on Windows.

[2019-02-07 07:27] davedoesdev commented on #138
[code]

[2019-02-07 07:27] davedoesdev commented on #138
Looks like `EC_POINT_get_affine_coordinates_GFp` has been removed.

[2019-02-07 08:06] microshine commented on #138
Try this new module [@peculiar/webcrypto](https://www.npmjs.com/package/@peculiar/webcrypto)
It based on NodeJS Crypto API and doesn't use C++ plugin

[2019-02-07 21:00] davedoesdev commented on #138
https://github.com/nodejs/node/issues/25981 and https://github.com/nodejs/node/pull/25991

[2019-02-07 21:01] davedoesdev commented on #138
The docs for `EC_POINT_get_affine_coordinates_GFp` [here](https://github.com/openssl/openssl/blob/master/include/openssl/ec.h#L519) says it's a "synonym of
 EC_POINT_set_affine_coordinates" so we should just be able to use that function instead?

[2019-02-16 23:29] davedoesdev commented on #138
Fixed in Node 11.10.0 (but this will occur again once the symbols are removed rather than deprecated).

[2019-02-22 07:20] yalamber commented on #129
I tried installing this with  both version of OpenSSL v1.0.2 and v1.1.0 my build fails with electron. On node.js it works fine.

[2019-02-22 09:26] microshine commented on #129
@yalamber I'm using external OpenSSL library for electron
Use this [.npmrc](https://github.com/PeculiarVentures/fortify/blob/master/.npmrc) file

Use `openssl_1_0_2` option to disable/enable which version of OpenSSL to use. If this option is enabled then OpenSSL must be 1.0.2, otherwise 1.1.0

[2019-02-22 16:41] #129 closed

[2019-03-08 11:23] yalamber opened #139 "Issue when traget arch is ia32 while packaging for windows"
Hello,
I tried to build and it works as my host platform is 64 bit but when I try to build for arch ia32 it results in various openssl errors. Here do I need to change openssl path to 32 bit openssl?

[2019-03-08 17:26] microshine commented on #139
Yes, you do. I do it for my Fortify app which uses node-webcrypto-ossl. You can take openssl libs [here](https://github.com/PeculiarVentures/fortify/releases/tag/binaries)

[2019-03-09 15:48] yalamber commented on #139
Hello sorry to bother you but I am not sure how to use these prebuilt binaries in my app. Can you give me some hints on this.

[2019-03-09 15:55] microshine commented on #139
1. Download x86 version of the OpenSSL and extract it to `C:\OpenSSL\x68`
2. Update your `.npmrc` file
[code]
3. Install/Rebuild `node-webcrypto-ossl`

[2019-03-10 08:06] #139 closed

[2019-03-10 10:51] yalamber opened #140 "LIBEAY32.dll missing when checking nodessl.node in dependency walker for electron app"
Hello, I am using this module with following .npmrc file
[code]
Installation works and rebuilds the module as well, Built app also works in the same computer I built but testing that built file in different computer gives error  "The specified module could not be found" Then I searched for the error and I see it happens if some dll are missing in final built file. I checked it with dependency walk

[2019-03-10 12:29] microshine commented on #140
You should put `libeay32,dll` near `electron.exe`

[2019-03-10 12:44] yalamber commented on #140
I guess you mean myapp.exe file? I added libeay32.dll in root of the built files. http://prntscr.com/mvv4as I still get same error. I am using electron forge.

[2019-03-10 12:53] microshine commented on #140
I'm using `node-webcrypto-ossl` with `electron` in my [Fortify](https://fortifyapp.com/) app

![image](https://user-images.githubusercontent.com/7333669/54085193-10351300-434c-11e9-9938-5a2eda534946.png)

Do you use openssl lib from `C:\OpenSSL-Win64` folder?

[2019-03-10 13:04] yalamber commented on #140
yep from C:\Openssl-Win64

[2019-03-10 13:11] microshine commented on #140
It can be problem in runtime library. Does your client has C++ runtime library which you use for `node-webcrypto-ossl` compilation?

[2019-03-10 13:18] yalamber commented on #140
yes I have installed Visual C++ Redistributable

[2019-03-10 13:22] microshine commented on #140
Try [Process Monitor](https://docs.microsoft.com/ru-ru/sysinternals/downloads/procmon)

[2019-03-10 13:31] yalamber commented on #140
Are you using latest version of electron for fortify?

[2019-03-10 13:50] microshine commented on #140
I'm using Electron v4.0.5. I'm using fortify-prepare to filter file which I need from node_modules (to minimise client app). You don't need to use it

[2019-03-10 13:54] microshine commented on #140
Here is the lates version of Fortify
https://github.com/PeculiarVentures/fortify-web/releases/tag/v1.0.18

[2019-03-11 07:20] yalamber commented on #140
So I  checked with process minitor and it was indeed issue with libeay32.dll missing and also missing msvcr120.dll, I added msvcr120.dll as well in the app folder and it worked. Thank you so much for pointing me to correct path to figure this out. Also should not that dll files be copied automatically by modules?

[2019-03-11 07:20] #140 closed

[2019-03-27 10:09] abdulwahidgul24085 commented on #134
Any update on this issue?

[2019-03-27 10:13] microshine commented on #134
https://github.com/nodejs/node-gyp

Try to install Python v2.7

[2019-03-27 10:14] markb-trustifi commented on #134
This is well known bug with node-gyp: https://github.com/nodejs/node-gyp/issues/193
There is even petition for it on change.org: https://www.change.org/p/google-inc-upgrade-gyp-to-support-python-3

[2019-03-27 10:16] markb-trustifi commented on #134
Python 2 is obsolete and is not supported. You have to apply pressure on the node-gyp team to finally stop using it.

[2019-03-27 10:26] microshine commented on #134
There is one more WebCrypto module which doesn't require C++.

https://github.com/PeculiarVentures/webcrypto

It's based on NodeJS v10 Crypto API

[2019-04-15 09:24] microshine opened #141 "Cannot wrap key if wrapping key has only `wrapKey` usage"
https://github.com/PeculiarVentures/webcrypto-core/issues/22

[2019-04-15 09:25] #141 closed

[2019-04-15 09:29] microshine opened #142 "Update webcrypto-core"
Apply the latest version of webcrypto-core

[2019-04-24 17:10] mikebveil opened #143 "Double-free when exporting a JWK key"
When exporting a JWK key as follows, my program crashes with a double-`free()` error:
[code]
Results in:
```node(44327,0x70000f69f000) malloc: *** error for object 0x103e26270: pointer being freed was not allocated```

I've been able to isolate the bug to the use of `ScopedBIGNUM` in `JwkEc::From()` (ec_jwk.cpp:58). We are already using a `ScopedBN_CTX` to create these values, and the OpenSSL docs

[2019-04-24 18:58] microshine commented on #143
Trying to reproduce your error

This code works for me
Node: 10.13.0
OS: MacOS 10.14.4

[code]
What is your NodeJs version?

[2019-04-24 19:35] mikebveil commented on #143
MacOS 10.13.6 (Xcode 10.0) and Node 11.12.0.

Immediate crash for me with that test code:
[code]
* thread #8, stop reason = breakpoint 2.1
  * frame #0: 0x00007fff7f88a9e6 libsystem_malloc.dylib`malloc_error_break
    frame #1: 0x00007fff7f87c82d libsystem_malloc.dylib`free + 400
    frame #2: 0x00000001007e3450 node`BN_clear_free + 49
    frame #3: 0x00000001007dd0a0 node`BN_CTX_free + 87
    fra

[2019-04-24 19:44] mikebveil commented on #143
I can confirm success if I downgrade to Node 10.15.2.

[2019-04-25 00:08] microshine commented on #143
@mikebveil Thank you very much for your help. I've installed the latest version of the NodeJS and reproduced this error.

I published the new version of `node-webcrypto-ossl` v1.0.44 which works on NodeJS v8, b9, v10, v11, and v12

Can you try the new version?
Have you seen another WebCrypto module [@peculiar/webcrypto](https://www.npmjs.com/package/@peculiar/webcrypto) based on NodeJS Crypto API?

[2019-04-25 14:29] mikebveil commented on #143
I can confirm the fix in 1.0.44.

And no, I had not noticed the other version. In my case I'm just relying on NodeJS as a development and testing platform, where production will run in a browser. So I think either version would be fine, then? Like, I assume the differences are in performance characteristics, or which library one trusts more?

[2019-04-25 14:42] rmhrisk commented on #143
Just less build related problems with the one based on node crypto.

[2019-04-25 16:25] #143 closed

[2019-04-28 15:49] markb-trustifi commented on #134
@microshine I moved to https://github.com/PeculiarVentures/webcrypto and code works OK, so I can close this issue.

[2019-04-28 15:49] #134 closed

[2019-06-02 00:03] innerop opened #146 "Is OpenSSL needed with latest Node?"
Hi,

I’ve head the latest version of Node has Upgraded crypto capabilities and no longer requires OpenSSL. For this particular library, do you still need OpenSSL if you were to restrict it to the latest version of Node?

[2019-06-02 05:13] microshine commented on #146
Have you seen [@peculiar/webcrypto](https://www.npmjs.com/package/@peculiar/webcrypto)? It uses NodeJS Crypto API and can be run on NodeJS v10 and upper

[2019-06-02 05:47] innerop commented on #146
Cool. Thank you.

[2019-06-02 05:47] #146 closed

[2019-06-12 01:04] lindner commented on #138
Looks like this happened again with Appveyer's 10.16.0 node version..

[2019-06-12 07:38] #138 closed

[2019-06-12 07:43] microshine commented on #138
New version `+ node-webcrypto-ossl@1.0.46` is avalable

[2019-06-13 06:56] selfagency opened #148 "Fails to build on MacOS Catalina 10.15"
[code]

[2019-06-13 06:58] microshine commented on #148
@selfagency What is your NodeJS version?

[2019-06-13 07:31] microshine commented on #148
@selfagency I've published a new version `+ node-webcrypto-ossl@1.0.47`. Can you try it and close issue?

[2019-06-13 16:19] selfagency commented on #148
I'm using 10.15.3. And the update worked. Thanks!

[2019-06-13 16:19] #148 closed

[2019-06-17 02:18] swartz-k commented on #134
this problem happen when i use CloudFlare by `npm init cloudflare-worker demo`
for save my time，just mv python its using to another name，and make a link of python2，it works for me.

[2019-06-17 08:54] markb-trustifi commented on #134
You can install package with alternative version of python:
`npm i --python=/usr/bin/python`

[2019-06-17 09:02] swartz-k commented on #134
coool， thx.

[2019-06-23 01:43] tomByrer opened #150 "Can't build on Windows."
Win 10
Node 12.4.0
I was able to [install node-gyp ](https://github.com/Microsoft/nodejs-guidelines/blob/master/windows-environment.md#prerequisites)& build bson with it.

But I still get this error:
[code]

Any tips?  Is there an alternative, or is OSSL really needed for local testing?

[2019-06-23 03:37] rmhrisk commented on #150
This package is dependent on OSSL.

see https://github.com/PeculiarVentures/webcrypto for one that uses only node crypto and has the associated limitations.

[2019-06-23 04:34] tomByrer commented on #150
TY!
Do the two have similar APIs; eg are easily swapped?

[2019-06-23 13:28] rmhrisk commented on #150
Both are API compatible with webcrypto, thi OSSL based one supports more algorithms and modes.

It will compile on windows but debuting environmental build issues with dependencies as is needed with Native modules can be a hassle so we created the other one.

[2019-06-24 10:51] #150 closed

[2019-06-24 10:53] microshine commented on #150
@tomByrer I've fixed Windows error and published `+ node-webcrypto-ossl@1.0.48`

[2019-06-26 08:59] tomByrer commented on #150
I was able to build & seems to work; cheers!

[2019-08-26 10:58] adhambadr opened #152 "Error: 404 response downloading https://nodejs.org/dist/v6.0.3/node-v6.0.3-headers.tar.gz"
fresh install using
`npm i node-webcrypto-ossl `
Node 12.9.0
node-gyp v5.0.3
fails on rebuild :
[code]

im using this .npmrc config:
[code]

[2019-08-26 11:13] #152 closed

[2019-12-06 22:54] #122 closed

[2019-12-10 08:01] Ulterior opened #154 "typo"
on the main page example for keystorage getitem

[code]

needs to be changed to
[code]

cheers

[2020-03-04 17:19] jenishngl commented on #150
I still have this issue when i do `npm install node-webcrypto-ossl` in Windows 10

[2020-04-18 08:35] witchent opened #158 "Support AES_CTR 256"
As far as I can see the length for AES_CTR is capped at 128. Could you maybe add support for 256?

[2020-04-18 09:28] witchent commented on #85
Is this still a problem after the core update? I think this might be the reason why I cannot get signal-desktop to run with this implementation

[2020-04-18 19:07] microshine commented on #158
`node-webcrypto-ossl` has got tests for `AES-CTR`. It supports 128, 192, and 256 keys

![image](https://user-images.githubusercontent.com/7333669/79668905-b181d000-81c0-11ea-97d0-ba49933bc746.png)

See [test logs](https://travis-ci.org/github/PeculiarVentures/node-webcrypto-ossl/jobs/665812471)

[2020-04-18 19:27] witchent commented on #158
Thats weird, shouldn't this prevent it?:

[code]
(From aes_ctr.cpp)

[2020-04-18 19:30] microshine commented on #158
It's 'length' for `encrypt` and `decrypt` params [AesCtrParams](https://www.w3.org/TR/WebCryptoAPI/#aes-ctr-params)

[2020-04-18 19:32] witchent commented on #158
Alright that makes sense. Sorry then, I just thought that this would be the case because signal complains about it and needs 256. But this seems to warrant another fork then. Thanks anyway :)

[2020-04-18 19:34] microshine commented on #158
### Chrome
![image](https://user-images.githubusercontent.com/7333669/79669509-acbf1b00-81c4-11ea-9ad2-7daa1edcdbe1.png)

[2020-04-18 19:36] witchent commented on #158
Yep thats the one I think. Just changing 128 to 256 fixes it but I don't know if this would introduce more problems than help, so feel free to close this issue

[2020-04-18 19:38] #158 closed

[2020-04-18 20:32] microshine commented on #85
@witchent I published a new version of `node-webcrypto-ossl`. I fixed issues with a default length parameter for HMAC mechanism. Now it uses 512 length by default for all hash algorithms and sets length property to key algorithm

[2020-04-18 20:34] microshine commented on #85
@witchent Please let me know if it fixes your issue for signal-desktop

[2020-04-18 21:20] witchent commented on #85
Sadly it does not. I actually don't really know why anyway though, with your old version everything works fine, but with the new one I get a different mac calculated as the phone sends.

I am starting to believe that the problem lies somewhere else though, as I tested the HMAC mechanism and it did do exactly what I wanted it to. So maybe something happened to a different part in your library, but

[2020-04-18 21:45] rmhrisk commented on #158
Not sure I understand. So signal is requiring something that the browser webcrypto does not support (256 bitlength)? And enabling this allows you to build signal desktop on this package?

[2020-04-18 21:49] witchent commented on #158
Correct. But as I said in the other issue, while with this check changed to 256 it builds and runs fine, it still does not work (complaining about bad mac, which I actually think has nothing to do with the HMAC but rather with the curve crypto), so it wouldn't really help if you change it anyway.

[2020-04-18 22:11] microshine commented on #85
@witchent I'm trying to find a difference between the previous and current versions. But I need your help with that. Can we have a chat via Skype or Hangouts? My email is microshine@mail.ru

[2020-04-18 22:27] witchent commented on #85
I add you on skype

[2020-04-20 14:13] microshine commented on #85
@witchent I updated the previous version of `node-webcrypto-ossl@1.0.49`. It fixes an issue with AES-CTR param.

Please try it and let me know if it fixes your problem.

To install prev version use
[code]

[2020-04-20 19:16] witchent commented on #85
Yes, this one works fine. Still a bit sad that the new one does not, but it is way better than keeping a fork. Thanks a lot :)

[2020-04-20 19:44] rmhrisk commented on #85
@witchent is this for the regular signal client or a personal project?

[2020-04-20 20:09] witchent commented on #85
More of a personal project, but public accessible. It is a matrix <--> signal bridge. So v1 is good enough for the project, it's more that it is super weird that it does not work with v2 anymore.

[2020-04-20 21:11] rmhrisk commented on #85
A matrix to signal bridge would be interesting. Yes, I am worried about the v1->v2 difference for sure. Just wanted to asses how much effort to put in once that's resolved ;)

[2020-04-21 01:58] CoolCyberBrain opened #159 "index.d.ts outdated"
It seems like index.d.ts hasn't been update to the new export format

[2020-04-21 09:19] #159 closed

[2020-04-23 16:31] gnarea opened #161 "Should CryptoKeyStorage really be required in v2?"
I'm trying to upgrade from v1 to v2 but the following lines in v2 are problematic because they'll create a directory:

https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/d1fb47d5859336993219fff4443320f91b5ed6f1/lib/crypto.ts#L26-L29
https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/d1fb47d5859336993219fff4443320f91b5ed6f1/lib/key_storage.ts#L23-L27

I'm using this library in a

[2020-04-28 07:22] #161 closed

[2020-04-28 07:24] microshine commented on #161
@gnarea thank you for pointing to this issue. I updated `crypto` and made `keyStorage` optional.

New version `node-webcrypto-ossl@2.0.7` is available

[2020-04-28 07:56] gnarea commented on #161
Thank you so much!

[2020-04-28 08:02] microshine commented on #161
Have you seen `@peculiar/webcrypto` module? It's alternative of `node-webcrypto-ossl` which is based on NodeJS Crypto API and it doesn't use C++ Addons

[2020-04-28 10:01] gnarea commented on #161
I have, but https://github.com/PeculiarVentures/webcrypto/issues/1 is blocking me: The library I wrote to wrap PKI.js/node-webcrypto-ossl is used on the server and will soon be used on an Electron app too.

[2020-04-28 17:09] rmhrisk commented on #161
@gnarea its not clear to me how  PeculiarVentures/webcrypto#1 is blocking; it is a discussion thread?

[2020-04-28 17:22] microshine commented on #161
@gnarea We've got a project which uses Electron and `@peculiar/webcrypto` works fine there

[2020-04-28 18:14] gnarea commented on #161
Apologies, I misread that thread. I thought the upshot of the conversation was that `@peculiar/webcrypto` didn't work in Electron apps. I'll try migrating to `@peculiar/webcrypto` in that case. Thanks!

[2020-05-10 13:38] dtruffaut opened #162 "TypeError: (intermediate value).Crypto is not a constructor"
[code]

[2020-05-10 13:52] dtruffaut commented on #162
Might be related to
https://stackoverflow.com/questions/42036349/uncaught-typeerror-intermediate-value-is-not-a-function

[2020-05-10 14:35] microshine commented on #162
It's not clear why you've got that exception. I've tried it locally and I don't have such error.
![image](https://user-images.githubusercontent.com/7333669/81502092-8896bb80-92e4-11ea-8c9c-672cec0e1efe.png)
If you are using nodejs version upper then 10 you can use `@peculiar/webcrypto` module. It based on nodejs crypto API and doesn't require C++ addon.

I'm using `node-webcrypto-ossl@2.1.0`

[2020-05-10 15:26] dtruffaut commented on #162
"node-webcrypto-ossl": "^2.1.0"
node v14.0.0
Windows 10 64 bits

![ossl](https://user-images.githubusercontent.com/381852/81503346-6e101280-92e3-11ea-8f6b-d3eca050c682.png)

[2020-05-10 15:42] dtruffaut commented on #162
Same error with "@peculiar/webcrypto": "^1.1.1"

[2020-05-10 20:40] microshine commented on #162
![image](https://user-images.githubusercontent.com/7333669/81510009-7bdf8b00-9317-11ea-8791-c6f7b100be66.png)

[2020-05-20 07:42] IhorKram opened #163 "Error with NODE_MODULE_VERSION"
I have an error:
"
Error: Error occurred while parsing your function triggers.
Error: The module '......./functions/node_modules/apple-pay-signature-and-decrypt/node_modules/node-webcrypto-ossl/build/Release/nodessl.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 79. This version of Node.js requires
NODE_MODULE_VERSION 72. Please try re-compiling or re-installing
t

[2020-05-20 07:45] IhorKram commented on #163
"npm rebuild bcrypt --update-binary"     - also not work

[2020-07-22 16:48] anatolyg49 commented on #137
@amark I have the same problem. What was the solution for you?

[2020-07-23 17:16] microshine commented on #163
Do you have any `.npmrc` options? If it's possible try to use [@peculiar/webcrypto](https://www.npmjs.com/package/@peculiar/webcrypto) module it doesn't use C++ and based on NodeJS Crypto API

[2020-07-30 07:43] amark commented on #137
I think I was passing wrong parameters, I forget tho, and we'ves witched to peculiar/webcrypto instead of the ossl bridge, I recommend you check their other library out instead.

[2020-08-07 15:00] septs opened #165 "`CryptoKey[Symbol.toStringTag]` not implemented."

[2020-08-09 03:38] brettz9 commented on #165
What it turns out our project needs is the following, but added to `webcrypto-core`'s `CryptoKey` (as this is the `CryptoKey` returned by `node-webcrypto-ossl`):

[code]

[2020-08-09 03:59] brettz9 commented on #165
What it turns out our project needs is the following, but added to `webcrypto-core`'s `CryptoKey` (as this is the `CryptoKey` returned by `node-webcrypto-ossl`):

[code]

Filed https://github.com/PeculiarVentures/webcrypto-core/issues/30 .

[2020-08-21 03:29] #165 closed

[2020-10-06 12:24] #163 closed

[2020-10-06 12:25] #154 closed

[2020-10-15 19:12] ty-everett opened #167 "Ensure validity of K-256 keys when importing"
When importing a public key for use with ECDSA, I can specify the `namedCurve` as `"K-256"`, but provide an SPKI-formatted P-256 key without receiving an error.

When I import a key from the wrong curve, the expected behavior is that the library throws an error indicating that the point does not lie on the specified curve. Currently, the behavior is that errors are only thrown during subsequent ke

[2020-12-16 02:27] gg3083 opened #168 "install fail"
npm ERR! node-webcrypto-ossl@2.1.2 install: `node-gyp rebuild`
npm ERR! Exit status 1

[2020-12-16 04:14] rmhrisk commented on #168
Without more information, for example logs and what platform you are on, we can’t help much.

It is very likely this is environmental, I recommend switching to peculiar/webcrypto as it has fewer environmental dependencies.

[2020-12-16 04:23] #168 closed

[2020-12-16 04:24] gg3083 commented on #168
thanks

[2021-01-29 10:03] septs opened #169 "Node.js 15.x began to provide WebCrypto"
see https://nodejs.org/api/webcrypto.html

Please record to README file, thanks

[2021-01-29 15:45] rmhrisk commented on #169
Cool.

[2021-01-29 15:47] rmhrisk commented on #169
Done https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/master/README.md

[2021-01-29 15:47] #169 closed

[2021-01-30 08:37] septs commented on #169
I hope record to
https://github.com/PeculiarVentures/webcrypto-core
https://github.com/PeculiarVentures/webcrypto-liner
thanks

[2021-01-31 18:48] rmhrisk commented on #169
Liner has nothing to do with node.
Core is not directly useful to anything but a webcrypto implementation.

[2021-06-07 11:56] mchorvat opened #172 "build fails on macos 11.4, nodejs 16.3.0,"
hey there,

npm package doesn't seem to install on macos. also tried to clone git repo and install to no avail. any help would be very much appreciated.

logs:
`Megan:Code marek$ git clone https://github.com/PeculiarVentures/node-webcrypto-ossl
Cloning into 'node-webcrypto-ossl'...
remote: Enumerating objects: 2800, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 1

[2021-06-07 12:04] microshine commented on #172
I'll check it out.

Have you seen (@peculiar/webcrypto)[https://www.npmjs.com/package/@peculiar/webcrypto]? It uses NodeJS native `crypto` module and doesn't require C++ plugin

[2021-06-07 12:23] mchorvat commented on #172
on a second thought... might be issue with node-gyp though... not sure :(
thanks for pointing out webcrypto, but since the ultimate goal is to get fido2-library running (https://www.npmjs.com/package/fido2-library) and it is dependent on node-webcrypto-ossl, i might need to get this one working :)

[2021-06-08 09:18] #167 closed

[2021-06-08 10:00] microshine commented on #172
The issue is fixed. I published the new version `node-webcrypto-ossl@2.1.3`

[2021-06-08 12:46] #172 closed

[2021-08-19 11:20] aguinetqb opened #175 "AES-KW key unwrapping does not check for integrity"
This Javascript code, when ran in a browser, properly throws an exception when trying to unwrap the modified wrapped key:

[code]

See https://jsfiddle.net/rnf6kdL9/1/

When the same code runs in Node 14.x using `node-webcrypto-ossl`, no exception is thrown when trying to unwrap the modified wrapped key. The integrity of the unwrapped key should be checked, as per defined here: https://datatracker

[2021-08-19 15:11] rmhrisk commented on #175
Thanks for the quality bug. We will investigate.

[2021-08-19 15:23] microshine commented on #175
I've tried to reproduce this issue using `@peculiar/webcrypto`. Do you know about that module? It doesn't use C++ language and is based on NodeJS CryptoAPI?

it throws
[code]

ossl doesn't throw the error

I'll take a look at this

[2021-08-19 15:31] microshine commented on #175
`node-webcrypto-ossl` uses OSSL function `AES_unwrap_key` (`@peculiar/webcrypto` does it using encrypt/decrypt functions). Looks like OpenSSL doesn't see any problems in incoming data

[2021-08-20 06:50] aguinetqb commented on #175
Thanks for looking into it and your prompt answers :)

I think I've tried `@peculiar/webcrypto`, but I had an issue having it working with the app I'm working on.

`AES_unwrap_key` seems to check for the integrity of the key here: https://docs.huihoo.com/doxygen/openssl/1.0.1c/aes__wrap_8c_source.html#l00131 . It returns 0 if it isn't valid, and otherwise the length of the unwrapped key.

[2021-08-20 06:51] aguinetqb commented on #175
Grepping quickly in the code of OSSL: it looks like the check here https://github.com/PeculiarVentures/node-webcrypto-ossl/blob/3276a833e5f7606c32b7e947c8d31bdfb303c2f2/src/aes/aes_cbc.cpp#L147 should be `<= 0`

[2021-10-27 00:41] ais-one opened #176 "Use native webcrypto instead of node-webcrypto-ossl"
The native webcrypto library (https://nodejs.org/api/webcrypto.html) is available since node 15 and node 16 is now LTS

Is it possible to use the native library instead. The problem I am having with node-webcrypto-ossl is some library inside is using node-gyp@3.8.0 (python 2) and it is causing problems when I try to build...